<div class="content">
  <button type="button" class="btn btn-primary" routerLinkActive="active" routerLink="add">Add Blog</button>
  <section class="text-center my-5">
    <h2 class="h1-responsive font-weight-bold my-5">Recent posts</h2>
    <p class="dark-grey-text w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit
      esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
      qui officia deserunt mollit anim id est laborum.</p>
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4" *ngFor="let blog of blogs">
        <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" [src]=blog.featuredPhoto alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <h4 class="font-weight-bold mb-3"><strong>{{blog.featuredTitle}}</strong></h4>
        <p>by <a class="font-weight-bold">{{blog.blogerName}}</a>, {{blog.createdAt}}</p>
        <p class="dark-grey-text">{{blog.featureDescription}}</p>
        <a mdbBtn color="info" rounded="true" mdbWavesEffect>Read more</a>
      </div>
    </div>
  </section>
</div>