.content{
    margin-top:100px;
  
  }
  .search-results {
    height:500px;
     overflow-y: auto;
  }
  
  .btn-primary {
    background-color: #34495e !important;
    color: #fff;
    margin-top:35px;
  }
  .blog-images{
    image-orientation: none;
    width:auto;
    margin-left: auto;
    margin-right: auto;
     height:355px;
  }
 .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
  }
  .modal-dialog-full-width {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    max-width:none !important;

}
.modal-content-full-width  {
    height: auto !important;
    min-height: 100% !important;
    border-radius: 0 !important;
    background-color: #fff !important 
}

.modal-header-full-width  {
    border-bottom: 1px solid #9ea2a2 !important;
}

.modal-footer-full-width  {
    border-top: 1px solid #9ea2a2 !important;
}

.title-name{
  text-align: center;
}
.modal-dialog{
  overflow-y: initial !important
}
.modal-body{
  height: 80vh;
  overflow-y: auto;
  padding-left: 350px;
  padding-right: 350px;
}