.content{
  background-color: white;
  padding-bottom:50px;
  }
  .search-results {
    height:500px;
     overflow-y: auto;
  }
  .title{
    color:#357ba0;
    font-weight: 800;
    color:#116bb5;
  }
  .banner{
    font-family: 'Open Sans',
    sans-serif;padding-top:35px;
    padding-bottom:35px;
  }


  .btn-primary {
    background-color: #34495e !important;
    color: #fff;
    margin-top:35px;
  }
  .blog-images{
    image-orientation: none;
    width:auto;
    margin-left: auto;
    margin-right: auto;
     // height:355px;
     height:250px
  }

  .blog-images2{
    image-orientation: none;
    width:auto;
    margin-left: auto;
    margin-right: auto;
     // height:355px;
     height:350px
  }
  .blog-card{
    border:1px solid #e1e1e1 !important;
    padding:25px;
  }
 .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
  }

.title-name{
  text-align: center;
}

.description {
  text-indent: 0px;
  text-align: justify;
  letter-spacing: 1px;
}
