<div id="recoverModal" mdbModal #recoverModal="mdbModal" class="modal fade" [config]="{backdrop: false, ignoreBackdropClick: true}" tabindex="-1" role="dialog"
aria-labelledby="myBasicModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document" >
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close"
      (click)="closeRecoverModal()" style="right:25px">
      <img class="modal_close_icon" src="../../../assets/icons/modal_close_icon.svg" height="12px">
    </button>
    <div>
      <span class="title">Reset Password</span>
    </div>
  </div>
  <div class="modal-body">
    <div>
      <p class="red-text text-center" style="font-size:11px;min-height:10px">{{errorMessage}}</p>
        <p class="green-text text-center" style="font-size:11px;min-height:10px">{{successMessage}}</p>
      <p class="text-center">Please enter your email to request a password reset.</p>

      <div class="formGroup" style="margin: 10px;">
        <input type="email" class="form-control" placeholder="Email" #passwordResetEmail required>
      </div>

      <div class="formGroup text-center mt-3">
        <button (click)="forgotPassword(passwordResetEmail.value)"
         type="button" class="btn btn-primary loginbtn_size btn-rounded">Reset Password</button>
      </div>
    </div>
    <div>
      <div class="redirectToLogin">
        <span>Go back to ? <span class="redirect" (click)="login()" >Log In</span></span>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- <div id="recoverModal" mdbModal #recoverModal="mdbModal" class="modal fade " tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="displayTable">
          <div class="displayTableCell">
            <div class="authBlock">
              <h3>Reset Password</h3>

              <p class="text-center">Please enter your email address to request a password reset.</p>

              <div class="formGroup">
                <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
              </div>

              <div class="formGroup">
                <button  (click)="authService.ForgotPassword(passwordResetEmail.value)"
                 type="button" class="btn btn-primary loginbtn_size btn-rounded">Reset Password</button>
              </div>
            </div>

            <div class="redirectToLogin">
              <span>Go back to ? <span class="redirect" >Log In</span></span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
