.about{
  font-size: 1rem;
 font-family: 'Open Sans', sans-serif !important;
 color:#808080;
 font-weight:400;
}
.about-banner{
  height:300px;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 300px;
}
.h1-about{
  line-height: 300px;
  color:black;

}
.banner{
  // background:url(../../../assets/jpg/banner/banner2.jpg);
  background:url(../../../assets/jpg/banner/bg_waves2.webp);
  background-attachment: scroll;
  -webkit-transform: translate3d(0,0,0);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // margin-top:100px;
  font-family: 'Open Sans',sans-serif;
  padding-top:35px;
  padding-bottom:35px;
}
.jarallax_about_banner{
    background-image: url(../../../assets/jpg/banner/bg_mountain1.jpg);
    -webkit-transform: translate3d(0,0,0);
  background-attachment: fixed;
  height: 600px;
  width:auto;
  margin-top:83px;
  background-size:cover;
}
.who-we-are{
 font-family: 'Open Sans', sans-serif;
 font-weight: 800;
 line-height: 1.42857143;
 color: #303030;
 margin-top:20px;
 margin-bottom:20px;
   // font-size: 24px;
   text-transform: uppercase;
}
.display-1 {
    font-size: 2.5rem !important;
    font-weight: 800 !important;
    line-height: 2 !important;
    font-family: 'Open Sans', sans-serif !important;
    letter-spacing: 1px;
    padding-top: 75px;
    padding-bottom: 75px;
    color:#303030;
}
.parallax-about-banner{
  background:url(../../../assets/jpg/banner/bg_waves2.webp);
  background-attachment: scroll;
  -webkit-transform: translate3d(0,0,0);
  background-attachment: fixed;
  min-height: 206px;
}

.about-description{
  font-size:1rem;
  // padding-left:50px;
  // padding-right:50px;
  line-height: 1.7;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 500;
  letter-spacing: 1px;
  padding:25px;
}
.about-image1{
  margin-top:3rem;
}
.about-image2{
  margin-top:3rem;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {


}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
 //  .about-description{
 //    font-size:1rem;
 //    padding-left:15px;
 //    padding-right:15px;
 // }
 // .about-image1{
 //   margin-top:0px;
 //   margin-bottom:3rem;
 // }
 // .about-image2{
 //   margin-top:3rem;
 //   margin-bottom:0px;
 // }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
  .about-description{
    font-size:1rem;
    padding-left:15px;
    padding-right:15px;
 }
 }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {

 }
