.store{
  height:100px;
  padding:25px;
  // background:url(../../../assets/jpg/banner/banner_backsplash.jpg);
  background-color: #f7f7f7;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.footer{
  background-color:white;
  color: gray;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
  height:100px;
  display: flex;

  .section-copyright{
    border-right:1px dashed #eaeaea;
    padding-left:15px;
    padding-right:15px;
    text-align: center;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: inherit;
  }
  .section-habitat{
    display:inline-flex;
    border-right:1px dashed #eaeaea;
    padding-left:15px;
    padding-right:15px;
    align-items: center;
    justify-content: center;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: inherit;
  }
  .section-privacy{
    text-align:center;
    border-right:1px dashed #eaeaea;
    padding-left:15px;
    padding-right:15px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: inherit;
  }
  .section-contact{
    text-align:center;
    border-right:1px dashed #eaeaea;
    padding-left:15px;
    padding-right:15px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: inherit;
  }
  .section-social-media{
    text-align:center;
    padding-left:15px;
    padding-right:15px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: inherit;
  }

}

.download-on{
  color: black;
  font-size:14px;
  font-family: 'Open Sans', sans-serif; font-weight:600;
}
.contact-title{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color:white;
}
.copyright{
  line-height: 1.7;
  color: #f7f7f7;
  font-size: 12px;
  background-color:#333333;
}

@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {

 }

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
  .footer{
    display: block !important;

    .section-copyright{
      border-bottom:1px dashed #eaeaea !important;
      padding-left:15px !important;
      padding-right:15px !important;
      text-align: center !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
    }
    .section-habitat{
      display:inline-flex !important;
      border-bottom:1px dashed #eaeaea !important;
      padding-left:15px !important;
      padding-right:15px !important;
      align-items: center !important;
      justify-content: center !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
    }
    .section-privacy{
      text-align:center !important;
      border-bottom:1px dashed #eaeaea !important;
      padding-left:15px !important;
      padding-right:15px !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
    }
    .section-contact{
      text-align:center !important;
      border-bottom:1px dashed #eaeaea !important;
      padding-left:15px !important;
      padding-right:15px !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
    }
    .section-social-media{
      text-align:center !important;
      padding-left:15px !important;
      padding-right:15px !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
    }
  }

 }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
  .footer{
    display: block !important;
    .section-copyright{
      border-bottom:1px dashed #eaeaea !important;
      padding-left:15px !important;
      padding-right:15px !important;
      text-align: center !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
    }
    .section-habitat{
      display:inline-flex !important;
      border-bottom:1px dashed #eaeaea !important;
      padding-left:15px !important;
      padding-right:15px !important;
      align-items: center !important;
      justify-content: center !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
    }
    .section-privacy{
      text-align:center !important;
      border-bottom:1px dashed #eaeaea !important;
      padding-left:15px !important;
      padding-right:15px !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
    }
    .section-contact{
      text-align:center !important;
      border-bottom:1px dashed #eaeaea !important;
      padding-left:15px !important;
      padding-right:15px !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
    }
    .section-social-media{
      text-align:center !important;
      padding-left:15px !important;
      padding-right:15px !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
    }
  }

 }
