<div class="store-footer">
<div class="store">
  <p class="text-center">
    <span class="download-on">Download </span>
    <img alt="name"  class="logo ml-2" [routerLink] = "'/home'" src="../../assets/scalable-vector-graphics/orol-logo.svg" height="40px">
    <span class="download-on ml-2"> on</span>
    <img alt="name"  class="logo ml-2" [routerLink] = "'/home'" src="../../assets/scalable-vector-graphics/google_play.svg" height="40px">
  </p>
</div>

<div class="footer">
  <div class="col-xl-4 section-copyright" >
    <img alt="name" class="logo" [routerLink] = "'/home'" src="../../assets/scalable-vector-graphics/orol-logo.svg" height="50px">
    <span class="ml-3">Copyright ©2020 OurRiverOurLife. All Rights Reserved</span>
  </div>

  <!-- <div class="col-md-2 section-copyright">
    <div>
      <img alt="name" class="logo" [routerLink] = "'/home'" src="../../assets/scalable-vector-graphics/orol-logo.svg" height="50px">
    </div>
    <div class="text-left ml-2">
      <span class="ml-3">Copyright ©2020 OurRiverOurLife. All Rights Reserved</span>
    </div>
  </div> -->
  <div class="col-xl-2 section-habitat">
    <div>
      <img alt="name"  src="../../assets/scalable-vector-graphics/habitats_trust.svg" height="65px">
    </div>
    <div class="text-left ml-2" style="line-height:2">
      <span>THE <br/>HABITATS<br/> TRUST</span>
    </div>
  </div>
  <div class="col-xl-1 section-privacy"  >
    <span [routerLink] = "'/privacy-policy'" routerLinkActive="router-link-active">Privacy Policy</span>
  </div>
  <div class="col-xl-2 section-contact">
    <span>contact@ourriverourlife.com</span>
  </div>
  <div class="col-xl-3 section-social-media">
    <span>
      <a type="button" mdbBtn floating="true" size="sm" color="fb" class="waves-light" mdbWavesEffect><mdb-icon fab icon="facebook-f"></mdb-icon></a>
      <a type="button" mdbBtn floating="true" size="sm" color="tw" class="waves-light" mdbWavesEffect><mdb-icon fab icon="twitter"></mdb-icon></a>
      <a type="button" mdbBtn floating="true" size="sm" color="li" class=" waves-light" mdbWavesEffect><mdb-icon fab icon="linkedin-in"></mdb-icon></a>
      <a type="button" mdbBtn floating="true" size="sm" color="ins" class="  waves-light" mdbWavesEffect><mdb-icon fab icon="instagram"></mdb-icon></a>
    </span>
  </div>
</div>
</div>
