<div class="recent-blog-posts">
  <!-- <div class="related-posts-heading">
    <div class="videos-gallery text-center"
      style="font-family: 'Open Sans', sans-serif;padding-top:35px; padding-bottom:35px;">
      <h2><span style="color:#357ba0;font-weight: 800; color:#116bb5">BLOG POST</span>
      </h2>
    </div>
    <a class="btn btn-link heading-btn" href="/voices-from-the-river">
      View all
    </a>
  </div>
  <hr> -->
  <div class="banner">
    <h2 class="title row" style="margin-left:15px;margin-right:15px">
      <span class="col-lg-6 text-left">RECENT BLOG POSTS</span>
      <span class="col-lg-6 text-right">
        <a href="/voices-from-the-river">
          <u><span class="view-all">View all</span></u>
        </a>
      </span>
    </h2>
  </div>

<mdb-carousel [isControls]="true" class="xcarousel-multi-item xmulti-animation text-center carousel slide carousel-fade testimonial-carousel" [type]="'carousel-multi-item'"
  [animation]="'fade'">
  <mdb-carousel-item *ngFor="let item of slides; let i = index">
    <div class="col-md-3" *ngFor="let card of item; let cardIndex = index">
      <mdb-card class="my-1">
        <!-- <mdb-card-img [src]="card.featuredPhoto.imageURL" class="img-fluid blog-images" width="auto" height="200px" alt="Card image cap"></mdb-card-img> -->
        <mdb-card-body>
          <mdb-card-title>
            <div class="blog-card">
              <div class="view overlay rounded xz-depth-2 mb-4 waves-light bg-green" mdbWavesEffect>
                <img class="img-fluid blog-images" [src]=card.featuredPhoto.imageURL alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <h4 class="font-weight-bold mb-3"><strong>{{card.featuredTitle}}</strong></h4>
              <p>by <a class="font-weight-bold">{{card.contributorName}}</a>, {{card.createdAt | date:"dd-MMM-y"}}
              </p>
            </div>
          </mdb-card-title>
        </mdb-card-body>
      </mdb-card>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
</div>
