.carousel-item {
    &.active, &.carousel-item-right, &.carousel-item-next {
      display: flex !important;
      flex-wrap: wrap
    }
  }
 .related-posts-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .heading-title{
    color: #1976d2;
    margin: 10px 0px;
  }
  .heading-btn{
  font-size: 24px;
font-weight: 900;
text-decoration: none;
}
hr{
    border-width: 2px;
}
.videos-gallery{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 35px;
  }
.btn-link {
    color: #337ab7 !important;
    font-weight: normal;
    border-radius: 0;
}