<div class="cxontaine w-100 x" style="background-color:#e8e8e8; border-bottom:10px solid #7a6f63; xpadding-bottom:85px">
  <div class="banner " style="font-family: 'Open Sans', sans-serif;padding-top:75px; padding-bottom:75px;">
    <h1 class="text-center"><span style="color:#303030;font-weight: 800;">VIEW</span><span
      style="color:#303030; font-weight:800">MAPS</span></h1>
    </div>
    <div class="form-group search-bar" [formGroup]="mapsForm" [ngClass]="!(show) ? 'visible': 'hidden'">
      <button mdbBtn type="button" color="secondary" class="flood-watch" rounded="true" [routerLink]="'/flood-watch'"
      mdbWavesEffect>FLOOD WATCH</button>
      <button mdbBtn type="button" color="secondary" class="river-monitoring" rounded="true" [routerLink]=""
      mdbWavesEffect>RIVER MONITORING</button>
      <input for="location" formControlName="location" placeholder="Search by location" autocorrect="off"
      autocapitalize="off" spellcheck="off" type="text" class="input-search search" #search
      [formControl]="searchControl">
      <input for="latitude" formControlName="latitude" type="text" class="input-latitude latitude" placeholder="Latitude">
      <input for="latitude" formControlName="longitude" type="text" class="input-latitude longitude"
      placeholder="Longitude">

      <div class="alert-div">
        <p>Did You Observe Flooding in the above location ?</p>
        <button mdbBtn type="button" color="secondary" class="add-alert" rounded="true" (click)="toggle()" mdbWavesEffect>
          Add Alert</button>
        </div>
      </div>

      <div class="alert-box search-bar" [formGroup]="mapsForm" [ngClass]="(show) ? 'visible': 'hidden'">
        <img class="mr-2" (click)="toggle()" src="../../../assets/scalable-vector-graphics/back.svg">
        <span class="alert-text mr-2">Add Flood Alert</span><img
        src="../../../assets/scalable-vector-graphics/flood-watch.svg">
        <hr class="line-header">
        <div>
          <label for="location" class="alert-location">Location: </label>
          <input id="location" formControlName="location" class="alert-text"><br />
          <label for="latitude & longitude" class="alert-location">Latitude & Longitude:</label>
          <input id="latitude" formControlName="latitude" class="alert-text">
          <input id="longitude" formControlName="longitude" class="alert-text">
          <br />
        </div>
        <div class="date">
          <label class="alert-date">Date</label>
          <mdb-date-picker name="mydate" auto formControlName="activityDate" [options]="myDatePickerOptions" id="mydp"
          [placeholder]="'Selected date'" required>

        </mdb-date-picker>
      </div>
      <div >
        <label class="alert-date" for='activityTime'>Time</label>
        <mdb-time-picker #timepicker formControlName="activityTime" id="mytp" ></mdb-time-picker>
      </div>

      <div class="image_container">

        <div class="form-group">
          <label for="file">File</label>
          <input id="file" type="file" class="form-control" multiple=""
          (change)="onFileChange($event)">
        </div>
      </div>
      <div class="md-form input-group optional" for='experience'>
        <textarea class="md-textarea form-control" formControlName="experience"
        placeholder="Your experience or message (Optional)" aria-label="With textarea"></textarea>
      </div>
      <button mdbBtn type="button" color="secondary" class="alert-button mr-3" rounded="true"
      mdbWavesEffect>Cancel</button>
      <button mdbBtn type="button" color="secondary" class="alert-button" rounded="true" (click)="addAlert()"
      mdbWavesEffect>+ Add Alert</button>
    </div>

    <div class="search-bar">

      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" [usePanning]='true'
      (mapReady)="mapReady($event)" [draggable]=false>
      <agm-marker [latitude]="latitude" [longitude]="longitude"
      iconUrl="http://maps.google.com/mapfiles/ms/icons/blue-dot.png"></agm-marker>
    </agm-map>
  </div>
</div>
<!-- <div style="background-color:red;padding:25px;margin-top:150px">
<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" xzoom="4" usePanning='true'
(mapReady)="mapReady($event)" [draggable]=false>
<agm-marker [latitude]="latitude" [longitude]="longitude"
iconUrl="http://maps.google.com/mapfiles/ms/icons/blue-dot.png"></agm-marker>
</agm-map>
</div> -->
<!-- <img *ngFor='let url of images' [src]="url" height="75px" width="100px" style="margin: 3px;"> <br /> -->
