// .image_container{
//   overflow-y: scroll;
// }

#input{
  margin-top: -15px;
}
.upload-button{
  border: 1px solid #1C3764;
  background-color: #fff;
display: inline-block;
padding: 10px;
cursor: pointer;
font-size: 12px;
border-radius: 20px;
width: 189px;
text-align: center;
margin-top: 50px;
}
.text{
  line-height: 2.5;
  font-size:14px;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif !important;
  color: #000000;
}

.date{
  margin-top: 15px;
}
.alert-date{
  font-size:12px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif !important;
  color:  #000000;
}
.alert-text{
  font-size:14px;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif !important;
  color:  #000000;
}
.alert-location{
  font-size:14px;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif !important;
  color:#808080;
}
.line-header{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #1C3764;
}
.search-bar{
  border-top:10px solid #7a6f63;
  border-top:5px solid gray;

}

.alert-box{
  height: 800px;
  z-index: 1;
  padding: 35px;
  border-radius: 20px;
  margin-top:50px;
}
.bg-white{
  background-color: #FFF;

}
.textAddflood{
  font-size:13px !important;
  font-weight: 500 !important;
  font-family: 'Open Sans', sans-serif;
  color: #000000 !important;
}
.alert-div{
  height: 150px;
  border: 1px solid gray;
  padding: 35px;
  background-color: #FFF;
  border-radius: 15px;
}

.add-alert{
  font-size: 0.9rem;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif !important;
}
.btn-secondary{
  background-color: #34495e !important;
  color: #fff;
  line-height: 1em;
}
agm-map {
  height: 950px;
  width: 100% !important;
}

.input-search{
  border-radius: 10px;
  border: 1px solid #979797;
  height: 50px;
  background-color: #ffffff;
}

::-moz-placeholder {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  color: #808080;
}
input[type=text] {
  padding-left: 20px;
}
.input-latitude{
  border-radius: 10px;
  border: 1px solid #979797;
  height: 50px;
  background-color: #FFF;
}
.data{
  font-size: 1rem;
  font-weight:500;
  color:#FFFFFF;
  font-family: 'Open Sans', sans-serif;
}
.data-position{
  z-index: 1;
  position: absolute;
  top: 177px;
}

p {
  font-family: Lato;
}

.visible{
  visibility: visible;
  display: visible;
}

.hidden{
  visibility: hidden;
  display: none;
}
.container-fluid {
  display: grid;
  // height:600px;
  padding-left:0px;
  padding-right:0px;
}

.content, .overlay {
  grid-area: 1 / 1;
}
.pointer{
  cursor: pointer;
}
.area{
  border-radius: 10px;
}
