<div Class="container">
    <span class="text">Hello!</span> <br />
    <span></span>
</div>
<div>
    <ul class="ul-menu">
        <li>
            <div>
                <img src="">
                <button>River Monitoring</button>
            </div>
        </li>
        <li>
            <div>
                <img src="">
                <button>Flood Watch</button>
            </div>
        </li>
        <li>
            <div>
                <img src="">
                <button>Flora & Fauna</button>
            </div>
        </li>
        <li>
            <div>
                <img src="">
                <button>Voices from the River</button>
            </div>
        </li>
        <li>
            <div>
                <img src="">
                <button>Resources</button>
            </div>
        </li>
    </ul>
</div>
<div>
    <p>Get involved by creating a group to observe, document and monitor the health of your river, stream or lake.
        The river monitoring web app allows you to document basic observations, along with water quality testing and
        documentation of flora and fauna, in locations chosen by you for long term monitoring.
    </p>
    <p>Flood Watch enables you to mark real time flood alerts along with documentation, such as images and videos. Our
        aim is to bring visibility to the ground situation, taking into consideration your experiences.

        With climate change and an increase in flooding events, timely alerts can help inform citizens' and authorities
        with map locations and visual media, to monitor flooding in real time. Monitoring flooding events on a yearly
        basis can further help citizens, government authorities and scientists alike, in bolstering disaster
        preparedness and flood response during the monsoon.
    </p>
    <p>Help us discover and document the natural wonders of freshwater ecosystems, through your eyes and lenses.
        Freshwater ecosystems have unique flora and fauna, so many of which are yet to be described or documented by
        science.

        With decades of alteration and modification of river banks and declining water quality in our freshwater
        ecosystems, it is challenging to understand the pace at which we are losing aquatic flora and fauna. With long
        term monitoring, it becomes easier to assess the status of species, enabling conservation planning and action to
        help protect the river ecosystem as a whole.
    </p>
    <p>Come join our journey of river exploration and learning, by sharing your stories and experiences. You can begin
        by registering and creating your own personal or group account.

        Join other citizen scientists and help contribute towards river monitoring OR Share with us your culture and
        traditions linked to the river. You could even let your mind run wild like the river, and showcase your
        creativity, highlighting their special place in our lives .
    </p>


</div>
  <app-flood-watch></app-flood-watch>
  <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
                [animation]="'slide'">
    <mdb-carousel-item *ngFor="let item of slides; let i = index">
      <div class="col-md-12" *ngFor="let card of item; let cardIndex = index">
        <mdb-card class="my-1">
          <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
          <mdb-card-body>
            <mdb-card-title>
              <h4>{{card.title}}</h4>
            </mdb-card-title>
            <p>{{card.description}}</p>
            <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>{{card.buttonText}}</a>
          </mdb-card-body>
        </mdb-card>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
