.component{
  // padding:100px;
  // padding-top:0px;
  margin-top:150px;
}

// .top-nav{
//   height: 200px !important;
//   color: white !important;
//   background-color: #1C3764 !important;
//   padding-left: 80px !important;
//   padding-top: 23px !important;
//   font-size: 19px !important;
//   font-weight: 500 !important;
//   font-family: 'Montserrat' !important;
//   }
  .text{
  font-size: 29px !important;
  font-weight: 700 !important;
  font-family: 'Open Sans' !important;
  }
  .ul-menu{
      display:flex;
      list-style-type: none;
      padding: 80px;
  }
  // .component{
  //   margin-right: 27px;
  // }
