.container{
  height: 200px !important;
  color: white !important;
  background-color: #1C3764 !important;
  padding: 28px !important;
  }
  .text{
  font-size: 29px;
  font-weight: 700;
  font-family: Open Sans;
  }
  .ul-menu{
      display:flex;
      list-style-type: none;
  }