<div class="features d-md-flex" style="background-color:#e0edea; margin-top:-40px">
    <mdb-accordion>
      <mdb-accordion-item class="col-lg-3">
        <mdb-accordion-item-head>
          <div class="text-center">
            <div class="feature-card-img">
              <img src="../../assets/icons/river_monitoring_white_icon.svg" alt="River Monitoring" height="50px">
            </div>
            <h3 class="feature-heading wow fadeInUp" data-wow-delay="0.6s">River Monitoring</h3>
          </div>
          <p class="min-text">Get involved by creating a group to observe, document and monitor the health of your rivers, streams or lakes.</p>
          <div class="text-center">
            <mdb-icon fas icon="angle-down" style="color:#34495e" (click)="feature1_show = true" *ngIf="!feature1_show"></mdb-icon>
            <mdb-icon fas icon="angle-up" style="color:#34495e" (click)="feature1_show = false" *ngIf="feature1_show"></mdb-icon>
          </div>
        </mdb-accordion-item-head>
        <mdb-accordion-item-body>
          <p class="feature-description">
            The river monitoring web app allows you to document basic observations, along with water quality testing and
            documentation of flora and fauna, in locations chosen by you for long term monitoring.
          </p>
        </mdb-accordion-item-body>
      </mdb-accordion-item>

      <mdb-accordion-item class="col-lg-3">
        <mdb-accordion-item-head>
          <div class="text-center">
            <div class="feature-card-img">
              <img src="../../assets/icons/flood_watch_white_icon.svg" alt="River Monitoring" height="50px">
            </div>
            <h3 class="feature-heading">Flood Watch</h3>
            <p class="min-text">Flood Watch enables you to mark real time flood alerts along with documentation, such as images and videos.</p>
            <div class="text-center">
              <mdb-icon fas icon="angle-down" style="color:#34495e" (click)="feature2_show = true" *ngIf="!feature2_show"></mdb-icon>
              <mdb-icon fas icon="angle-up" style="color:#34495e" (click)="feature2_show = false" *ngIf="feature2_show"></mdb-icon>
            </div>
          </div>
        </mdb-accordion-item-head>
        <mdb-accordion-item-body>
          <p class="feature-description">
            Our aim is to bring visibility to the ground situation, taking into consideration your experiences.

            With climate change and an increase in flooding events, timely alerts can help inform citizens' and authorities
            with map locations and visual media, to monitor flooding in real time. Monitoring flooding events on a yearly
            basis can further help citizens, government authorities and scientists alike, in bolstering disaster
            preparedness and flood response during the monsoon.
          </p>
        </mdb-accordion-item-body>
      </mdb-accordion-item>

      <mdb-accordion-item class="col-lg-3">
        <mdb-accordion-item-head>
          <div class="text-center">
            <div class="feature-card-img">
              <img style="margin-left:-5px" src="../../assets/icons/flora_fauna_white_icon.svg" alt="River Monitoring" height="50px">
            </div>
            <h3 class="feature-heading">Flora & Fauna</h3>
            <p class="min-text">Help us discover and document the natural wonders of freshwater ecosystems, through your eyes and lenses.</p>
            <div class="text-center">
              <mdb-icon fas icon="angle-down" style="color:#34495e" (click)="feature3_show = true" *ngIf="!feature3_show"></mdb-icon>
              <mdb-icon fas icon="angle-up" style="color:#34495e" (click)="feature3_show = false" *ngIf="feature3_show"></mdb-icon>
            </div>
          </div>
        </mdb-accordion-item-head>
        <mdb-accordion-item-body>
          <p class="feature-description">
            Freshwater ecosystems have unique flora and fauna, so many of which are yet to be described or documented by
            science.<br/>

            With decades of alteration and modification of river banks and declining water quality in our freshwater
            ecosystems, it is challenging to understand the pace at which we are losing aquatic flora and fauna. With long
            term monitoring, it becomes easier to assess the status of species, enabling conservation planning and action to
            help protect the river ecosystem as a whole.
          </p>
        </mdb-accordion-item-body>
      </mdb-accordion-item>
      <mdb-accordion-item class="col-lg-3" >
        <mdb-accordion-item-head>
          <div class="text-center">
            <div class="feature-card-img" >
              <img style="margin-left:-5px" src="../../assets/icons/voices_from_the_river_white_icon.svg" alt="River Monitoring" height="50px">
            </div>
            <h3 class="feature-heading">Voices from the River</h3>
            <p class="min-text">Come join our journey of river exploration and learning, by sharing your stories and experiences.</p>
            <div class="text-center">
              <mdb-icon fas icon="angle-down" style="color:#34495e" (click)="feature4_show = true" *ngIf="!feature4_show"></mdb-icon>
              <mdb-icon fas icon="angle-up" style="color:#34495e" (click)="feature4_show = false" *ngIf="feature4_show"></mdb-icon>
            </div>
            <i aria-hidden="true" class="mdb-accordion-indicator rotate-icon ng-star-inserted"></i>
          </div>
        </mdb-accordion-item-head>
        <mdb-accordion-item-body>
          <p class="feature-description">
            You can begin by registering and creating your own personal or group account.<br/>

            Join other citizen scientists and help contribute towards river monitoring OR Share with us your culture and
            traditions linked to the river. You could even let your mind run wild like the river, and showcase your
            creativity, highlighting their special place in our lives.
          </p>
        </mdb-accordion-item-body>
      </mdb-accordion-item>
    </mdb-accordion>
</div>
