.features{
  background-image: url('../../../assets/jpg/banner/bg_river1.webp');
  // background-size: 100% 100%;
  background-position: right;
  background-repeat: no-repeat;
  padding-top:75px;
  padding-bottom:75px;
  // background-color:white;
  min-height:775px;
  -webkit-transform: translate3d(0,0,0);
  background-attachment: scroll;
}
.feature-card-img{
  height:100px;
  width:100px;
  background-color:#34495e;
  // background-color: #116bb5;
  padding:25px;
  text-align: center;
  margin: 0 auto;
  border-radius:25px;
}
.feature-heading{
  font-weight: bold;
  line-height: 1.25em;
  color: #303030;
  color:#34495e;
  margin-top:20px;
  margin-bottom:20px;
  font-size:1.25rem;
  letter-spacing: 1px;
}

.feature-card{
  padding-top:30px;
}

.feature-icon{
  padding-top:50px;
  font-size:50px;
  color:#b6d2dc;
}

.min-text{
  font-size: 1rem;
  font-weight: 500;
  color: #303030;
  font-weight:500;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.7;
}
.feature-description{
  // height:400px;
  font-size: 1rem;
  font-weight:400;
  color:#303030;
  // align:justify;
  letter-spacing: 1px;
}
