<div class="view intro jarallax parallax-custom">
  <div class="full-bg-img mask rgba-black-light">
<div class="features " class="d-flex" style="padding-top:75px;padding-bottom:75px;background-color:#f7f7f7;">

  <div class="col-md-3 col-xs-12">
    <div class="text-center">
      <mdb-icon fas icon="water" class="feature-icon"></mdb-icon><br/>
      <h3 class="feature-heading">River Monitoring</h3>
    </div>

    <p class="text-center feature-description">
      Get involved by creating a group to observe, document and monitor the health of your river, stream or lake.
      The river monitoring web app allows you to document basic observations, along with water quality testing and
      documentation of flora and fauna, in locations chosen by you for long term monitoring.
    </p>
  </div>
  <div class="col-md-3 col-xs-12">
    <div class="text-center">
      <mdb-icon fas icon="cloud-showers-heavy"  class="feature-icon"></mdb-icon>
      <h3 class="feature-heading">Flood Watch</h3>
    </div>
    <p class="text-center feature-description">
      Flood Watch enables you to mark real time flood alerts along with documentation, such as images and videos. Our
      aim is to bring visibility to the ground situation, taking into consideration your experiences.

      With climate change and an increase in flooding events, timely alerts can help inform citizens' and authorities
      with map locations and visual media, to monitor flooding in real time. Monitoring flooding events on a yearly
      basis can further help citizens, government authorities and scientists alike, in bolstering disaster
      preparedness and flood response during the monsoon.
    </p>
  </div>
  <div class="col-md-3 col-xs-12">
    <div class="text-center">
      <mdb-icon fab icon="pagelines"  class="feature-icon"></mdb-icon>
      <mdb-icon fas icon="frog"  class="feature-icon"></mdb-icon>
      <h3 class="feature-heading">Flora & Fauna</h3>
    </div>
    <p class="text-center feature-description">Help us discover and document the natural wonders of freshwater ecosystems, through your eyes and lenses.
      Freshwater ecosystems have unique flora and fauna, so many of which are yet to be described or documented by
      science.<br/>

      With decades of alteration and modification of river banks and declining water quality in our freshwater
      ecosystems, it is challenging to understand the pace at which we are losing aquatic flora and fauna. With long
      term monitoring, it becomes easier to assess the status of species, enabling conservation planning and action to
      help protect the river ecosystem as a whole.
    </p>
  </div>
  <div class="col-md-3 col-xs-12">
    <div class="text-center">
      <mdb-icon fab icon="itunes-note" class="feature-icon"></mdb-icon>
      <h3 class="feature-heading">Voices from the River</h3>
    </div>
    <p class="text-center feature-description">
      Come join our journey of river exploration and learning, by sharing your stories and experiences. You can begin
      by registering and creating your own personal or group account.<br/>

      Join other citizen scientists and help contribute towards river monitoring OR Share with us your culture and
      traditions linked to the river. You could even let your mind run wild like the river, and showcase your
      creativity, highlighting their special place in our lives .
    </p>
  </div>
  </div>
</div>
</div>
