<!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f3f4f5" fill-opacity="1" d="M0,32L48,37.3C96,43,192,53,288,90.7C384,128,480,192,576,213.3C672,235,768,213,864,186.7C960,160,1056,128,1152,117.3C1248,107,1344,117,1392,122.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg> -->
<div class="features d-md-flex" style="padding-top:75px;padding-bottom:75px;background-color:white; height:700px">
<div class="row">
<mdb-accordion class="row">
  <mdb-accordion-item class="col-md-3">
    <mdb-accordion-item-head>
      <div class="text-center">
        <!-- <mdb-icon fas icon="water" class="feature-icon"></mdb-icon><br/> -->
        <div style="height:100px; width:100px; background-color:#34495e; padding:25px;text-align-center; margin: 0 auto; border-radius:25px">
        <img src="../../assets/scalable-vector-graphics/river_monitoring_white_icon.svg" alt="River Monitoring" height="50px">
        </div>
        <h3 class="feature-heading1 wow fadeInUp" data-wow-delay="0.6s">River Monitoring</h3>
      </div>
      <p class="min-text">Get involved by creating a group to observe, document and monitor the health of your river, stream or lake.</p>
    </mdb-accordion-item-head>
    <mdb-accordion-item-body>
      The river monitoring web app allows you to document basic observations, along with water quality testing and
      documentation of flora and fauna, in locations chosen by you for long term monitoring.
    </mdb-accordion-item-body>
  </mdb-accordion-item>

  <mdb-accordion-item class="col-md-3">
    <mdb-accordion-item-head>
      <div class="text-center">
        <!-- <mdb-icon fas icon="cloud-showers-heavy"  class="feature-icon"></mdb-icon> -->
        <div style="height:100px; width:100px; background-color:#34495e; padding:25px;text-align-center; margin: 0 auto; border-radius:25px">
        <img src="../../assets/scalable-vector-graphics/flood_watch_white_icon.svg" alt="River Monitoring" height="50px">
        </div>
        <h3 class="feature-heading2">Flood Watch</h3>
        <p class="min-text">Flood Watch enables you to mark real time flood alerts along with documentation, such as images and videos.</p>
      </div>
    </mdb-accordion-item-head>
    <mdb-accordion-item-body>
      Our aim is to bring visibility to the ground situation, taking into consideration your experiences.

      With climate change and an increase in flooding events, timely alerts can help inform citizens' and authorities
      with map locations and visual media, to monitor flooding in real time. Monitoring flooding events on a yearly
      basis can further help citizens, government authorities and scientists alike, in bolstering disaster
      preparedness and flood response during the monsoon.
    </mdb-accordion-item-body>
  </mdb-accordion-item>

  <mdb-accordion-item class="col-md-3">
    <mdb-accordion-item-head>
      <div class="text-center">
        <div style="height:100px; width:100px; background-color:#34495e; padding:25px;text-align-center; margin: 0 auto; border-radius:25px">
        <img style="margin-left:-5px" src="../../assets/scalable-vector-graphics/flora_fauna_white_icon.svg" alt="River Monitoring" height="50px">
        </div>
        <h3 class="feature-heading3">Flora & Fauna</h3>
        <p class="min-text">Help us discover and document the natural wonders of freshwater ecosystems, through your eyes and lenses.</p>
      </div>
    </mdb-accordion-item-head>
    <mdb-accordion-item-body>
      Freshwater ecosystems have unique flora and fauna, so many of which are yet to be described or documented by
      science.<br/>

      With decades of alteration and modification of river banks and declining water quality in our freshwater
      ecosystems, it is challenging to understand the pace at which we are losing aquatic flora and fauna. With long
      term monitoring, it becomes easier to assess the status of species, enabling conservation planning and action to
      help protect the river ecosystem as a whole.
    </mdb-accordion-item-body>
  </mdb-accordion-item>
  <mdb-accordion-item class="col-md-3">
    <mdb-accordion-item-head>
      <div class="text-center">
          <!-- <mdb-icon fas icon="volume-up" class="feature-icon"></mdb-icon> -->
          <div style="height:100px; width:100px; background-color:#34495e; padding:25px;text-align-center; margin: 0 auto; border-radius:25px">
          <img style="margin-left:-5px" src="../../assets/scalable-vector-graphics/voices_from_the_river_white_icon.svg" alt="River Monitoring" height="50px">
          </div>
          <h3 class="feature-heading4">Voices from the River</h3>
          <p class="min-text">Come join our journey of river exploration and learning, by sharing your stories and experiences.</p>
        </div>
      </mdb-accordion-item-head>
    <mdb-accordion-item-body>
      You can begin
      by registering and creating your own personal or group account.<br/>

      Join other citizen scientists and help contribute towards river monitoring OR Share with us your culture and
      traditions linked to the river. You could even let your mind run wild like the river, and showcase your
      creativity, highlighting their special place in our lives .
    </mdb-accordion-item-body>
  </mdb-accordion-item>
</mdb-accordion>
</div>
</div>
