<div class="container" style="background-color:black; padding:0px">
  <h1 class="text-center" style="font-family: 'Open Sans', sans-serif;padding-top:75px; padding-bottom:75px;
 font-weight: 800;"><span style="color:gray">VIEW</span><span style="color:yellowgreen"> MAPS</span></h1>

  <div class="form-group search-bar">

    <input placeholder="Search by location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
      class="input-search search" #search [formControl]="searchControl">

    <input type="text" class="input-latitude latitude" placeholder="Latitude">
    <span class="data data-position">OR ENTER</span>
    <input type="text" class="input-latitude longitude" placeholder="Longitude">

  </div>
  <div class="search-bar">
  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" [usePanning]='true'
    (mapReady)="mapReady($event)">
    <agm-marker [latitude]="latitude" [longitude]="longitude"
      iconUrl="http://maps.google.com/mapfiles/ms/icons/blue-dot.png"></agm-marker>
  </agm-map>
</div>
</div>
