agm-map {
    height: 664px;
    // height: 894px;
    width: 100%;
   }

   .input-search{
    border-radius: 10px;
    border: 1px solid #979797;
    width: 394px;
    height: 50px;
    background-color: #FFF;
   }
  
  ::-moz-placeholder {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat' !important;
    color: #808080;
   }
   input[type=text] {
    padding-left: 20px;
}
.search{
    z-index: 1;
position: absolute;
left: 80px;
top: 116px;

}
.input-latitude{
    border-radius: 10px;
    border: 1px solid #979797;
    width: 178px;
    height: 50px;
    background-color: #FFF;
   }
  .latitude{
    z-index: 1;
    position: absolute;
    left: 80px;
    top: 205px;
    
    }
.longitude{
    z-index: 1;
    position: absolute;
    left: 299px;
    top: 205px;
    
}
.data{
    font-size: 16px;
    font-weight:500;
    color:#FFFFFF;
    font-family: 'Montserrat' !important;
}
.data-position{
    z-index: 1;
position: absolute;
left: 249px;
top: 177px;
}

p {
    font-family: Lato;
  }
