.privacy-policy{
  padding:35px;
  line-height:2;
    font-size: 1rem;
  font-family:Serif;
  letter-spacing:1px;
}

.privacy-policy-text{
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  font-family:Serif;
}
.date{
  font-size: 1rem;

}

.heading{
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
  font-family:Serif;
  text-align: center;
}

.sub-heading{
font-size: 1rem;
font-weight: bold;
font-family:Serif;
}
.text{
  font-size: 1rem;
  font-weight: bold;
  font-family:Serif;
  font-style: italic;
}
.para{
  font-size: 1rem;
  font-family:Serif;
}
.document{
  font-size: 1rem;}
.unsb{
  font-size: 1rem;
    font-weight: bold;
  font-family:Serif;
}
.hr{

}
