.privacy-policy{
  padding:35px;
  line-height: 1.5em;
}

.privacy-policy-text{
font-size: 12px;
  font-weight: bold;
  text-align: center;
}
.date{
font-size: 12px;
}

.heading{
  font-size: 12px;
  font-style: italic;
  font-weight: bold;

}

.sub-heading{
font-size: 12px;
font-weight: bold;
}

.document{
font-size: 12px;
}
.hr{

}
