.privacy-policy{
  padding:35px;
  line-height:2;
  font-size: 1rem;
  font-family: 'Open Sans',sans-serif;
  letter-spacing:1px;
  margin-top:100px;
  color:#303030;
  font-weight: 400;
}

.privacy-policy-text{
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}
.date{
}

.heading{
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.sub-heading{
  font-weight: bold;
}
.text{
  font-weight: bold;
  font-style: italic;
}
.para{
  letter-spacing:1px;
}
.document{
  letter-spacing:1px;
}
.unsb{
  font-weight: bold;
}
