/* You can add global styles to this file, and also import other style files */
@import '~ng-uikit-pro-standard/assets/scss/core/colors';
@import '~ng-uikit-pro-standard/assets/scss/core/variables';
@import '~ng-uikit-pro-standard/assets/scss/core/variables-pro';
@import '~ng-uikit-pro-standard/assets/scss/bootstrap/functions';
@import '~ng-uikit-pro-standard/assets/scss/bootstrap/variables';
@import '~ng-uikit-pro-standard/assets/scss/core/mixins';

.banner{
  font-family: 'Open Sans',
  sans-serif;padding-top:35px;
  padding-bottom:35px;
}

.slide-card1, .slide-card2{
  display:flex;
}

.title{
  color:#357ba0;
  font-weight: 800;
  color:#116bb5;
}

.gallery{
  xborder:1px solid blue;
  width:1100px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  text-align:center;
  display:inline-grid;
}
.content{
  display: flex;
}
mdb-card-img {
  background-color: black;
}

.artist-profile-pic{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
mdb-carousel-item{
  text-align: center;
}
.card1-section{
  width:50%;
  padding:25px;
  color:#303030;
  background-color:#efefef;
}
.card2-section{
  width:50%;
  padding:25px;
  color:#303030;
  background-color:#efefef;
}

.details1-section{
  position:absolute;
  bottom:15px;
  text-align:left;
  width:80%;
}
.image2-section{
  width:50%;text-align:start;

  img{
    width:auto;
    height:430px;
  }
}

.image1-section, {
  position:absolute;
  bottom:15px;
  text-align:left;
  width:80%;
}
.details2-section{
  position:absolute;
  bottom:15px;
  text-align:left;
  width:80%;
}

.image-section{

}

.details{
  display: -webkit-inline-box;
  margin-top: 10px;

}
.image-description{
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif !important;
  color:#303030;
  font-weight:400;
  text-align: left;
  line-height: 1.7;
  letter-spacing: 1px;
}
.artist-info{
  font-size: 0.7rem;
  font-family: 'Open Sans', sans-serif !important;
  color:#303030;
  font-weight:400;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-top:5px;
}
.carousel-control-prev,
.carousel-control-next{
  align-self: flex-end; /* Aligns it at the bottom */
}

.card-title{
  font-family: 'Open Sans', sans-serif;
  font-size:1.25rem;
  font-weight:bold;
  letter-spacing: 1px;
}


@include media-breakpoint-down(lg) {
  .gallery{
    width:100% !important;
  }
  .card1-section{
    width:100%;
    padding:25px;
    color:#303030;
    background-color:#efefef;
  }
  .card2-section{
    width:100%;
    padding:25px;
    color:#303030;
    background-color:#efefef;
  }

  .image2-section{
    width:100%;
    text-align:center;

    img{
      width:100%;
      height:auto;
    }
  }
  .slide-card1, .slide-card2{
    display:block;
  }
  .details1-section{
    position:relative;
    bottom:15px;
    text-align:left;
    width:80%;
  }
}
