.banner{
  // background: url(../../../assets/jpg/banner/banner9.jpg);
  // background:url(../../../assets/jpg/banner/bg_waves2.png);
  // background-repeat: no-repeat;
  // background-size: 100% 100%;
  background:url(../../../assets/jpg/banner/bg_waves2.png);
background-repeat: no-repeat;
 background-position: center;
background-size: cover;
}
.content{
  display: flex;
}
mdb-card-img {
background-color: black;
}


.artist-profile-pic{
  width: 57px;
  height: 57px;
  border-radius: 50%;
}
mdb-carousel-item{
  text-align: center;
}
.details{
  display: -webkit-inline-box;
  margin-top: 20px;

}
.image-description{
font-size: 1rem;
 font-family: 'Open Sans', sans-serif !important;
 color:#c6c6c6;
 color:black;
 font-weight:400;
 text-align: left;
 line-height: 2em;
}
.artist-info{
  font-size: 0.875rem;
 font-family: 'Open Sans', sans-serif !important;
 color:#c6c6c6;
  color:black;
 font-weight:400;
 text-align: left;
 line-height: 1.5em;
}
.carousel-control-prev,
.carousel-control-next{
  align-self: flex-end; /* Aligns it at the bottom */
}
