.content{
  display: flex;
}
mdb-card-img {
background-color: black;
}
mdb-card-img img {
  width: 100% !important;
  height: 636px !important;
}

.artist-profile-pic{
  width: 57px;
  height: 57px;
  border-radius: 50%;
}
mdb-carousel-item{
  text-align: center;
}
.details{
  display: -webkit-inline-box;
  margin-top: 20px;

}
.image-description{
  font-size: 16px;
 font-family: 'Montserrat';
 color:#c6c6c6;
 font-weight:400;
 text-align: left;
}
.artist-info{
  font-size: 14px;
 font-family: 'Montserrat';
 color:#c6c6c6;
 font-weight:400;
 text-align: left;
}
