
.btn-group > .btn, .btn-group-vertical > .btn {
  height:54.5px;
    text-align: left;
    padding:15px;
    text-transform: none;
    color:#212121;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    font-weight: 600;
}
.dropdown-menu {
  width:100%;
  max-height:300px;
  overflow-y: scroll;
  margin-top:25px;

}
.dropdown-item {
  color:#212121 !important;
font-family: 'Montserrat', sans-serif;
font-size:14px;
font-weight: 600;
line-height:2.75em;
}

.alert-box{
  height: 745px;
  padding: 35px;
  border-radius: 20px;
  margin-top: 50px;
  border: 1px solid black;
  // background-color: red;
}
::-webkit-input-placeholder, :-ms-input-placeholder, ::placeholder  {
  color:#D3D3D3;
  font-size:16px;
  font-weight: 500;
}

.dropdown-btn-placeholder-text{
  color:#D3D3D3;
  font-size:16px;
  font-weight: 500;
}
.dropdown-btn-text{
  color:#212121;
  font-size:16px;
  font-weight: 500;
}
.btn-primary {
  background-color: #34495e !important;
  color: #fff;
}
// .bg-white{
//   background-color: #6c757d;;

// }
.addFlora{
  font-size:14px;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif !important;
  color:#808080;

}
.center{
  position: absolute;
top: 83%;
left: 22%;
transform: translate(-50%, -50%);
width: 15%;
}
.content{
    margin-top: 110px !important;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.highlight {
  font-weight: bold;
}

#mat-option{
  top: 100px;
right: 133px;
}
.operator-name{
  font-size: 1rem;
  font-family: 'Montserrat' !important;
  font-weight: 500;
  color: #212121;
}
.operator-email{
  font-size: 0.9rem;
  font-family: 'Montserrat' !important;
  font-weight: 400;
  color: #212121;
}
.card-search{
  width: 440px;
  height: 54px;
  background: #fff;
}
.mat-option-text{
  display: inline-grid
}
.mat-option{
  line-height: 20px;
}




.search-box{
  width: 440px;
  height: 54px;
  margin-left: 496px;
}

