<div class="content">
  <!-- <div class="search-box" id="searchUser">
  <form>
  <mat-form-field id="searchUser" class="example-full-width " appearance="outline">
  <input style="border:none" matInput placeholder="Search For a common/biology name" aria-label="User"
  [matAutocomplete]="auto" (keyup)="valueChange()" [formControl]="myControl ">
  <mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let user of resource" [value]="user.name" class="card-search mat-option">
  <div class="mat-option-text">
  <div style="display:flex;">
  <div>
</div>
<div class="ml-3">
<span [innerHTML]="user.name" class="operator-name"></span> <br />
</div>
</div>
</div>
</mat-option>
</mat-autocomplete>
</mat-form-field>
</form>
</div> -->
<div>
  <mdb-tabset id="flora_fauna_tabs" [buttonClass]="'classic-tabs tabs-transparent custom-tabs'" [contentClass]="'card'" class="classic-tabs">

    <mdb-tab heading="Flora">
      <div *ngIf="this.flora.length > 0" class="row row mt-2" style="background-color:white">
        <div class="col-12">
          <br>
          <mdb-image-modal [modalImages]="flora" type="margin"></mdb-image-modal>
        </div>
      </div>
      <div *ngIf="this.flora.length == 0" class="row row mt-2" style="height:300px; background-color:white;margin-left: -35px;margin-right: -35px;">
        <div class="col-12 text-center mt-5">
          <div _ngcontent-lpk-c225="" class="feature-card-img"><img _ngcontent-lpk-c225="" src="../../assets/scalable-vector-graphics/flora_fauna_white_icon.svg" alt="River Monitoring" height="50px" style="margin-left: -5px;"></div>
          <p class="mt-4">Oops! We don’t seem to have any items on our list, do contribute by sharing with us and spread knowledge. </p>
          <p class="mt-4">Please click on <strong>'+ NEW'</strong> to add a Flora.</p>
        </div>
      </div>
    </mdb-tab>

    <mdb-tab heading="Fauna">
      <div *ngIf="this.fauna.length > 0" class="row row mt-2" >
        <div class="col-12">
          <br>
          <mdb-image-modal [modalImages]="fauna" type="margin"></mdb-image-modal>
        </div>
      </div>
      <div *ngIf="this.fauna.length == 0" class="row mt-2" style="height:300px; background-color:white;margin-left: -35px;margin-right: -35px;">
        <div class="col-12 text-center mt-5">
          <div class="feature-card-img"><img src="../../assets/scalable-vector-graphics/flora_fauna_white_icon.svg" alt="River Monitoring" height="50px" style="margin-left: -5px;"></div>
          <p class="mt-4">Oops! We don’t seem to have any items on our list, do contribute by sharing with us and spread knowledge. </p>
          <p class="mt-4">Please click on <strong>'+ NEW'</strong> to add a Fauna.</p>
        </div>
      </div>
    </mdb-tab>
    <mdb-tab heading="+ New">
      <div class="overlay form-group mt-2" style="background-color:white;margin-left: -35px;margin-right: -35px;">
        <div class="alert-box " [formGroup]="floraFaunaForm">
          <div class="row" >
            <label for="type" class="col-md-2 mt-2 addFlora">Type <span>*</span></label>
            <div class="col-md-4 mt-2 p-0">
              <select id="drop" class="custom-select" formControlName="type">
                <option value="" selected disabled>Select Type</option>
                <option value="1">Flora</option>
                <option value="2">Fauna</option>
              </select><br />
              <div class="error-message-div mt-1">
                <p *ngIf="floraFaunaForm.get('type').errors?.required && this.submitted == true" class="errorMessage"><img class="img-add" src="../../../assets/scalable-vector-graphics/exclamation.svg"> This field is required.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-md-2 mt-2 addFlora">Name of Place <span>*</span></label>
            <div class="col-md-4 mt-2 p-0">
              <input for="location" formControlName="location" placeholder="Search by location" autocorrect="off"
              autocapitalize="off" spellcheck="off" type="text" class="form-control input-searchmt-2" #search
              [formControl]="searchControl">
              <div class="error-message-div mt-1">
                <p *ngIf="floraFaunaForm.get('location').errors?.required && this.submitted == true" class="errorMessage"><img class="img-add" src="../../../assets/scalable-vector-graphics/exclamation.svg"> This field is required.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <label for="localName" class="col-md-2 mt-2 addFlora">Latitude / Longitude <span>*</span></label>
            <div class="col-md-4 mt-2 pl-0 pr-0 d-flex">
              <div class="col-md-6 m-0 p-0">
                <input for="localName" type="text" class="form-control input-latitude " id="localName"
                formControlName="latitude" placeholder="Local Name" style="width:99%">
                <div class="error-message-div mt-1">
                  <p *ngIf="floraFaunaForm.get('latitude').errors?.required && this.submitted == true" class="errorMessage"><img class="img-add" src="../../../assets/scalable-vector-graphics/exclamation.svg"> This field is required.</p>
                </div>
              </div>
              <div class="col-md-6 m-0 p-0">
                <input for="scientificName" type="text" class="form-control input-latitude" id="scientificName"
                formControlName="longitude" placeholder="Scientific Name" style="width:99%">
                <div class="error-message-div mt-1">
                  <p *ngIf="floraFaunaForm.get('longitude').errors?.required && this.submitted == true" class="errorMessage"><img class="img-add" src="../../../assets/scalable-vector-graphics/exclamation.svg"> This field is required.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <label for="localName" class="col-md-2 mt-2 addFlora">Local / Scientific Name <span>*</span></label>
            <div class="col-md-4 mt-2 pl-0 pr-0 d-flex">
              <div class="col-md-6 m-0 p-0">
                <input for="localName" type="text" class="form-control input-latitude " id="localName"
                formControlName="localName" placeholder="Local Name" style="width:99%">
                <div class="error-message-div mt-1">
                  <p *ngIf="floraFaunaForm.get('localName').errors?.required && this.submitted == true" class="errorMessage"><img class="img-add" src="../../../assets/scalable-vector-graphics/exclamation.svg"> This field is required.</p>
                </div>
              </div>
              <div class="col-md-6 m-0 p-0">
                <input for="scientificName" type="text" class="form-control input-latitude" id="scientificName"
                formControlName="scientificName" placeholder="Scientific Name" style="width:99%">
                <div class="error-message-div mt-1">
                  <p *ngIf="floraFaunaForm.get('scientificName').errors?.required && this.submitted == true" class="errorMessage"><img class="img-add" src="../../../assets/scalable-vector-graphics/exclamation.svg"> This field is required.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <label for="commonName" class="col-md-2 mt-2 addFlora">Common Name <span>*</span></label>
            <div class="col-md-4 mt-2 p-0">
              <input for="commonName" type="text" value='' class="form-control input-latitude" id="commonName"
              formControlName="commonName" placeholder="Common Name">
              <div class="error-message-div mt-1">
                <p *ngIf="floraFaunaForm.get('commonName').errors?.required && this.submitted == true" class="errorMessage"><img class="img-add" src="../../../assets/scalable-vector-graphics/exclamation.svg"> This field is required.</p>
              </div>
            </div>
          </div>

          <div class="row">
            <label class="col-md-2 mt-2 addFlora">Upload Image *</label>
          </div>
          <div class="row">
            <div class="col-md-2 mt-0">
              <div style="height:150px; background-color:#f7f7f7">
                <span class="helper"></span><img [src]="imageURL"  style="margin: 3px;" style="width:100%; height:auto; vertical-align:middle">
              </div>
            </div>
            <div class="image_container mt-0 col-md-4">
              <div class="form-group ">
                <input type='file' class="form-control w-100" (change)="onSelectFile($event)" style="height:45px;">
                <div class="error-message-div mt-1">
                  <p *ngIf="imageFile == null && this.submitted == true" class="errorMessage"><img class="img-add" src="../../../assets/scalable-vector-graphics/exclamation.svg"> Please select a photo.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-md-2 mt-2 addFlora"></label>
            <div class="col-md-4 text-center">
              <button type="button" class="btn mt-2 btn-primary btn-rounded" (click)="addFloraFauna()" style="width:200px">Submit</button>
            </div>
          </div>
        </div>

      </div>
    </mdb-tab>

  </mdb-tabset>
</div>
</div>
