/* You can add global styles to this file, and also import other style files */
@import '~ng-uikit-pro-standard/assets/scss/core/colors';
@import '~ng-uikit-pro-standard/assets/scss/core/variables';
@import '~ng-uikit-pro-standard/assets/scss/core/variables-pro';
@import '~ng-uikit-pro-standard/assets/scss/bootstrap/functions';
@import '~ng-uikit-pro-standard/assets/scss/bootstrap/variables';
@import '~ng-uikit-pro-standard/assets/scss/core/mixins';


.content{
      background-color: white !important;
}

.center-image{
  width:176px;
  height:auto;
  vertical-align:middle;
}

.flexbox1 {
    flex: 0 1 auto;
}

.flexbox2 {
    flex: 1;
    align-self: flex-end;
}

.frame {
    width: 176px !important;
    height: 176px !important;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
      background-color: #f7f7f7 !important;
}
.custom-btn {
  // margin-top:50px;
  border: 1px solid #268586 !important;
  background-color: white;
  color: #757575;
  font-size: 0.9rem;
  border-radius: 5px;
  text-align: center;
  width: 160px;
  letter-spacing: 1px;
    padding: 10px;
}

.search-results {
  height: 500px;
  overflow-y: scroll;
}
.upload-button{
  border: 1px solid #1C3764;
  background-color: #fff;
display: inline-block;
padding: 10px;
cursor: pointer;
font-size: 12px;
border-radius: 20px;
width: 189px;
text-align: center;
margin-top: 50px;
}
.outer-block {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
}
.items {
  display: inline-block;
  margin: 0 0 2em;
  width: 100%;
}

.card-text{
padding: 10px !important;
}
.btn-group > .btn, .btn-group-vertical > .btn {
  height:54.5px;
    text-align: left;
    padding:15px;
    text-transform: none;
    color:#212121;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    font-weight: 600;
}
.dropdown-menu {
  width:100%;
  max-height:300px;
  overflow-y: scroll;
  margin-top:25px;

}
.dropdown-item {
  color:#212121 !important;
font-family: 'Montserrat', sans-serif;
font-size:14px;
font-weight: 600;
line-height:2.75em;
}

.alert-box{
  // height: 745px;
   padding: 25px;
  // border-radius: 20px;
  // margin-top: 50px;
  // border: 1px solid black;
  // // background-color: red;
}
::-webkit-input-placeholder, :-ms-input-placeholder, ::placeholder  {
  color:#D3D3D3;
  font-size:16px;
  font-weight: 500;
}

.dropdown-btn-placeholder-text{
  color:#D3D3D3;
  font-size:16px;
  font-weight: 500;
}
.dropdown-btn-text{
  color:#212121;
  font-size:16px;
  font-weight: 500;
}
.btn-primary {
  background-color: #34495e !important;
  color: #fff;
  margin-top:35px;
}
// .bg-white{
//   background-color: #6c757d;;

// }

// .addFlora{
//   font-size:14px;
//   font-weight: 500;
//   font-family: 'Open Sans', sans-serif !important;
//   color:#808080;
//
// }

.image_container{
  padding:0px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.highlight {
  font-weight: bold;
}

#mat-option{
  top: 100px;
right: 133px;
}
.operator-name{
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #212121;
}
.operator-email{
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #212121;
}
.card-search{
  width: 440px;
  height: 54px;
  background: #fff;
}
.mat-option-text{
  display: inline-grid
}
.mat-option{
  line-height: 20px;
}
.feature-card-img {
    height: 100px;
    width: 100px;
    background-color: #34495e;
    padding: 25px;
    text-align: center;
    margin: 0 auto;
    border-radius: 25px;
}


// .custom-tabs {
//   background-color: #34495e !important;
// }
// .classic-tabs{
//   margin:0px !important;
// }
// #flora_fauna_tabs > ul{
//     background-color: #34495e !important;
// }
// .pills-primary .nav-link.active, .pills-primary .show>.nav-link, .bla{
//   background-color: #34495e !important;
// }
// .content{
//   background-color: #34495e !important;
// }
.search-box{
  width: 440px;
  height: 54px;
  margin-left: 496px;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.ng-thumb:hover {
    opacity: .85;
}
.ng-thumb {
    width: 100%;
    height: 100%;
    float: none;
    display: block;
    cursor: zoom-in;
    transition: .3s ease-in-out;
}
.card{
  margin-left: -15px !important;
  margin-right: -15px !important;
}
.label-ff{
  color:dimgray;
}
.label-value{
}

@include media-breakpoint-down(md) {
  .outer-block {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
  }
}

@include media-breakpoint-down(md) {
  .outer-block {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
  }
}
