.content{
    margin-top: 110px !important;
}



.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.highlight {
  font-weight: bold;
}

#mat-option{
  top: 100px;
right: 133px;
}
.operator-name{
  font-size: 18px;
  font-family: 'Quicksand' !important;
  font-weight: 500;
  color: #212121;
}
.operator-email{
  font-size: 14px;
  font-family: 'Quicksand' !important;
  font-weight: 400;
  color: #212121;
}
.card-search{
  width: 440px;
  height: 54px;
  background: #fff;
}
.mat-option-text{
  display: inline-grid
}
.mat-option{
  line-height: 20px;
}




.search-box{
  width: 440px;
  height: 54px;
  margin-left: 496px;
}

