
<div class="contributors">
  <section class="container-fluid text-center my-5 mt-3">
    <h2 class="text-center" style="font-family: 'Open Sans', sans-serif;
    font-weight: 800;"><span style="color:#116bb5">OUR CONTRIBUTORS</span></h2>
    <img class="waves-splash" src="../../assets/backgrounds/waves_splash.png" alt="splash">
    <div  class="row d-none d-sm-block">
      <mdb-carousel [isControls]="true" class="xcarousel-multi-item xmulti-animation text-center carousel slide carousel-fade testimonial-carousel" style="width:100%" [type]="'carousel-multi-item'"
      [animation]="'fade'">
      <mdb-slide>
        <div class="col-md-2">
          <div class="testimonial">
            <div class="mx-auto" style="height:60px;
            width:60px;
            opacity:0.9;
            border:1px solid gray;
            border-radius:50%;">
            <mdb-icon fas icon="crow" style="color:#515253; font-size:25px; line-height:60px"></mdb-icon>
          </div>
          <h1 class="contributor-name mt-4">Neethi Mahesh</h1>
          <p class="font-weight-normal">
          </p>

        </div>
      </div>
      <div class="col-md-2">
        <div class="testimonial">
          <div class="mx-auto" xclass="aa" style="height:60px;
          width:60px;
          opacity:0.9;
          border:1px solid gray;
          border-radius:50%;">
          <mdb-icon fas icon="leaf" style="color:#515253; font-size:25px; line-height:60px"></mdb-icon>
        </div>
        <h1 class="contributor-name mt-4">Caroline Kavya</h1>
      </div>
    </div>
    <div class="col-md-2">
      <div class="testimonial">
        <div class="mx-auto" style="height:60px;
        width:60px;
        opacity:0.9;
        border:1px solid gray;
        border-radius:50%;">
        <mdb-icon fas icon="otter" style="color:#515253; font-size:25px; line-height:60px"></mdb-icon>
      </div>
      <h1 class="contributor-name mt-4">Suhruth Simha</h1>
    </div>
  </div>

  <div class="col-md-2">
    <div class="testimonial">
      <div class="mx-auto" style="height:60px;
      width:60px;
      opacity:0.9;
      border:1px solid gray;
      border-radius:50%;">
      <mdb-icon fas icon="crow" style="color:#515253; font-size:25px; line-height:60px"></mdb-icon>
    </div>
    <h1 class="contributor-name mt-4">Aravind Athreya</h1>
    <p class="font-weight-normal">
    </p>

  </div>
</div>
<div class="col-md-2">
  <div class="testimonial" >
    <div class="mx-auto" style="height:60px;
    width:60px;
    opacity:0.9;
    border:1px solid gray;
    border-radius:50%;">
    <mdb-icon fas icon="leaf" style="color:#515253; font-size:25px; line-height:60px"></mdb-icon>
  </div>
  <h1 class="contributor-name mt-4">Chayant Gonsalves</h1>

</div>
</div>
<div class="col-md-2">
  <div class="testimonial">
    <div class="mx-auto" style="height:60px;
    width:60px;
    opacity:0.9;
    border:1px solid gray;
    border-radius:50%;">
    <mdb-icon fas icon="otter" style="color:#515253; font-size:25px; line-height:60px"></mdb-icon>
  </div>
  <h1 class="contributor-name mt-4">Nithya Reddy</h1>
</div>
</div>
</mdb-slide>
<mdb-slide>
  <div class="col-md-2">
    <div class="testimonial">
      <div class="mx-auto" style="height:60px;
      width:60px;
      opacity:0.9;
      border:1px solid gray;
      border-radius:50%;">
      <mdb-icon fas icon="crow" style="color:#515253; font-size:25px; line-height:60px"></mdb-icon>
    </div>
    <h1 class="contributor-name mt-4">Smriti Chanchani</h1>
    <p class="font-weight-normal">
    </p>

  </div>
</div>
<div class="col-md-2">
  <div class="testimonial" >
    <div class="mx-auto" style="height:60px;
    width:60px;
    opacity:0.9;
    border:1px solid gray;
    border-radius:50%;">
    <mdb-icon fas icon="leaf" style="color:#515253; font-size:25px; line-height:60px"></mdb-icon>
  </div>
  <h1 class="contributor-name mt-4">Naren Sreenivasan</h1>
</div>
</div>
<div class="col-md-2">
  <div class="testimonial">
    <div class="mx-auto" style="height:60px;
    width:60px;
    opacity:0.9;
    border:1px solid gray;
    border-radius:50%;">
    <mdb-icon fas icon="otter" style="color:#515253; font-size:25px; line-height:60px"></mdb-icon>
  </div>
  <h1 class="contributor-name mt-4">Soujanya Venkatesh</h1>
</div>
</div>

<div class="col-md-2">
  <div class="testimonial">
    <div class="mx-auto" style="height:60px;
    width:60px;
    opacity:0.9;
    border:1px solid gray;
    border-radius:50%;">
    <mdb-icon fas icon="crow" style="color:#515253; font-size:25px; line-height:60px"></mdb-icon>
  </div>
  <h1 class="contributor-name mt-4">Paritosh Joshi</h1>
  <p class="font-weight-normal">
  </p>
</div>
</div>
</mdb-slide>
</mdb-carousel>
</div>
<div class="row d-block d-md-none">
  <mdb-carousel [isControls]="true" class="xcarousel-multi-item xmulti-animation text-center carousel slide carousel-fade testimonial-carousel" style="width:100%" [type]="'carousel-multi-item'"
  [animation]="'fade'">
  <mdb-slide>
    <div class="col-md-2">
      <div class="testimonial">
        <div class="mx-auto" style="height:60px;
        width:60px;
        opacity:0.9;
        border:1px solid gray;
        border-radius:50%;">
        <mdb-icon fas icon="crow" style="color:#515253; font-size:25px; line-height:60px"></mdb-icon>
      </div>
      <h1 class="contributor-name mt-4">Neethi Mahesh</h1>
      <p class="font-weight-normal">
      </p>

    </div>
  </div>
  <div class="col-md-2">
    <div class="testimonial">
      <div class="mx-auto" xclass="aa" style="height:60px;
      width:60px;
      opacity:0.9;
      border:1px solid gray;
      border-radius:50%;">
      <mdb-icon fas icon="leaf" style="color:#515253; font-size:25px; line-height:60px"></mdb-icon>
    </div>
    <h1 class="contributor-name mt-4">Caroline Kavya</h1>
  </div>
</div>
<div class="col-md-2">
  <div class="testimonial">
    <div class="mx-auto" style="height:60px;
    width:60px;
    opacity:0.9;
    border:1px solid gray;
    border-radius:50%;">
    <mdb-icon fas icon="otter" style="color:#515253; font-size:25px; line-height:60px"></mdb-icon>
  </div>
  <h1 class="contributor-name mt-4">Suhruth Simha</h1>
</div>
</div>
<div class="col-md-2">
  <div class="testimonial">
    <div class="mx-auto" style="height:60px;
    width:60px;
    opacity:0.9;
    border:1px solid gray;
    border-radius:50%;">
    <mdb-icon fas icon="crow" style="color:#515253; font-size:25px; line-height:60px"></mdb-icon>
  </div>
  <h1 class="contributor-name mt-4">Aravind Athreya</h1>
  <p class="font-weight-normal">
  </p>

</div>
</div>
</mdb-slide>
<mdb-slide>
  <div class="col-md-2">
    <div class="testimonial" >
      <div class="mx-auto" style="height:60px;
      width:60px;
      opacity:0.9;
      border:1px solid gray;
      border-radius:50%;">
      <mdb-icon fas icon="leaf" style="color:#515253; font-size:25px; line-height:60px"></mdb-icon>
    </div>
    <h1 class="contributor-name mt-4">Chayant Gonsalves</h1>

  </div>
</div>
<div class="col-md-2">
  <div class="testimonial">
    <div class="mx-auto" style="height:60px;
    width:60px;
    opacity:0.9;
    border:1px solid gray;
    border-radius:50%;">
    <mdb-icon fas icon="otter" style="color:#515253; font-size:25px; line-height:60px"></mdb-icon>
  </div>
  <h1 class="contributor-name mt-4">Nithya Reddy</h1>
</div>
</div>
<div class="col-md-2">
  <div class="testimonial">
    <div class="mx-auto" style="height:60px;
    width:60px;
    opacity:0.9;
    border:1px solid gray;
    border-radius:50%;">
    <mdb-icon fas icon="crow" style="color:#515253; font-size:25px; line-height:60px"></mdb-icon>
  </div>
  <h1 class="contributor-name mt-4">Smriti Chanchani</h1>
  <p class="font-weight-normal">
  </p>

</div>
</div>
</mdb-slide>
<mdb-slide>
  <div class="col-md-2">
    <div class="testimonial" >
      <div class="mx-auto" style="height:60px;
      width:60px;
      opacity:0.9;
      border:1px solid gray;
      border-radius:50%;">
      <mdb-icon fas icon="leaf" style="color:#515253; font-size:25px; line-height:60px"></mdb-icon>
    </div>
    <h1 class="contributor-name mt-4">Naren Sreenivasan</h1>
  </div>
</div>
<div class="col-md-2">
  <div class="testimonial">
    <div class="mx-auto" style="height:60px;
    width:60px;
    opacity:0.9;
    border:1px solid gray;
    border-radius:50%;">
    <mdb-icon fas icon="otter" style="color:#515253; font-size:25px; line-height:60px"></mdb-icon>
  </div>
  <h1 class="contributor-name mt-4">Soujanya Venkatesh</h1>
</div>
</div>
<div class="col-md-2">
  <div class="testimonial">
    <div class="mx-auto" style="height:60px;
    width:60px;
    opacity:0.9;
    border:1px solid gray;
    border-radius:50%;">
    <mdb-icon fas icon="crow" style="color:#515253; font-size:25px; line-height:60px"></mdb-icon>
  </div>
  <h1 class="contributor-name mt-4">Paritosh Joshi</h1>
  <p class="font-weight-normal">
  </p>
</div>
</div>
</mdb-slide>
</mdb-carousel>
</div>
</section>
</div>
