.contributor-name{
  font-size: 16px;
 font-family: 'Montserrat';
 color:#303030;
 font-weight:500;
}
.parallax-custom{
  background-image: url('../../../assets/jpg/parallax_2.jpg');
  background-attachment: fixed;
  height: 1200px;
}
