.profile{
    margin-top: 100px !important;
      background-color: #34495e !important;

}
  .custom-btn-blue {
    border: 1px solid #1C3764;
    background-color: #1C3764;
    color: white;
    font-size: 12px;
    border-radius: 20px;
    width: 189px;
    text-align: center;
    margin-top:35px;
}

.custom-file-upload, .custom-btn {
  border: 1px solid #1C3764;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 20px;
  width:189px;
  text-align: center;
  margin-top: 50px;
  
}

input[type="file"] {
  display: none;
}
