.videos-gallery{
  // padding-left: 50px;
  // padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 100px;
    // border:3px dashed #B3BDBB;
  // background-color: #ecf4f4	;
}
.banner{
  font-family: 'Open Sans',
  sans-serif;padding-top:50px;
  padding-bottom:60px;
}
.title{
  color:#357ba0;
  font-weight: 800;
  color:#116bb5;
}

.ongoing-campaigns{
  margin-top:100px;
  padding-bottom:50px;
}
.campaigns{
  // padding-top:35px;
  // padding-bottom:35px;

}
.campaign-title{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}
.campaign-url{
  text-align: center;
  // padding-bottom:50px;
}

.vid-container {
  position: relative;
  text-align: center;
  padding: 0px !important;
}
.vid-container iframe{
  top: 0;
  left: 0;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  // height:450px;
  // width:1000px;
}
.videos-list{

  border-top:10px solid whitesmoke;
  border-radius: 10px;
  background-color: black;
  justify-content:center;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif !important;
  color: white;
  font-weight: 400;
  padding-top: 20px !important;
  overflow: scroll !important;

  ul{
    list-style-type:none;
    padding-left:0;
    display:inline-flex;
  }
}

.thumb {
  cursor: pointer;
  img{
    border:1px dashed gray !important;
  }
}

.video-description{
  padding:15px;
  text-align: center;
  font-size: 0.9rem;
}

ul > li{
  width: 200px;
}
