  <div class="videos-gallery">
  <div class="banner text-center"style="font-family: 'Open Sans', sans-serif;padding-top:35px; padding-bottom:35px;
  ">
  <h2><span style="color:#357ba0;font-weight: 800; color:#116bb5">FEATURED VIDEOS</span>
  </h2>
  </div>
  <div class="campaigns" *ngFor="let campaign of campaigns_list; let i=index">
    <div>
      <div class="row" style="margin-right:0px;margin-left:0px;">
        <div class="vid-container col-9" height="300px" >
          <iframe id="vid_frame" [src]="campaign.defaultVideo" frameborder="0" title="video"></iframe>
        </div>

        <div class="col-3 videos-list">
          <ul #widgetsContent>
            <li *ngFor="let v of campaign.videos">
              <div class="vid-item text-center" (click)="bla(i, v.url);">
                <div class="thumb">
                  <img alt="name" [src]="v.thumb">
                </div>
                <div class="video-description">
                  {{v.name}}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
