<div class="add-blog">
<mdb-card>
  <div class="container">
    <div fxLayout="column" class="blog-details">
      <div class="container">
        <div fxLayout="row">
          <h1 class="blocks">
            {{post.data?.title}}
          </h1>

        </div>
        <p class="mt-2" style="display:grid">
          {{ post.data?.author?.first_name }} {{ post.data?.author?.last_name }}
          <span>Updated On : {{post.data?.updated |date}}</span>
        </p>
        <div class="post-body mt-5" [innerHTML]="post.data?.body"></div>
      </div>
    </div>
  </div>
</mdb-card>
</div>
