<div class="content">
  <form class="content form form-horizontal"
    style="padding-left:350px; padding-right:350px; padding-top:50px; padding-bottom:50px;">

    <div class="form-group">
      <label for="featuredTitle">Title</label>
      <input name="title" type="text" class="form-control" formControlName="featuredTitle" placeholder="Enter title">
    </div>

    <div class="form-group">
      <label for="featureDescription">Description</label>
      <textarea name="description" class="form-control" formControlName="featureDescription" placeholder="Description">
              </textarea>
    </div>

    <div class="text-left">
      <label for="featuredPhoto" class="text-left">Featured Photo </label>
      <div class="row">
        <div class="col-md-3 mt-0">
          <div style="height:150px; background-color:#f7f7f7">
            <span class="helper"></span><img [src]="imageURL" style="margin: 3px;"
              style="width:100%; height:100%; vertical-align:middle">
          </div>
        </div>
        <div class="image_container mt-0 col-md-9">
          <div class="form-group ">
            <label class="custom-file-upload">
              <input id="file" type="file" class="form-control" (change)="onFeaturedPhoto($event)">Upload
            </label>

          </div>
        </div>
        <!-- <label class="custom-file-upload">
                      <input id="file" type="file" class="form-control" (change)="onFeaturedPhoto($event)">Upload
                  </label> -->
      </div>
    </div>

    <div class="text-left">
      <label for="featuredAdditionalPhotos" class="text-left">Featured Additional Photos </label>
      <!-- <img *ngFor='let url of featuredAdditionalPhotos' [src]="url" height="50px" width="50px" style="margin: 3px;"> -->
      <div xclass="row">
        <label class="custom-file-upload">
          <input id="file" type="file" class="form-control" multiple (change)="onFeaturedAdditionalPhoto($event)">Upload
        </label>
      </div>
    </div>

    <div class="form-group col-xs-12">
      <label for="featuredVideo" class="control-label">Featured Videos</label>
      <div class="input-group col-xs-12">
        <div class="input-group xmb-3">
          <div class="input-group-prepend">
            <span id="featuredVideo" class="input-group-text md-addon"
              style="border-left:1px solid #c9c9c9">https://</span>
          </div>
          <input mdbInput type="text" class="form-control" formControlName="featuredVideo" id="inlineFormInputGroupMD"
            placeholder="Enter the Featured Videos URL">
        </div>

      </div>

    </div>

    <!-- <div class="form-group col-xs-12" formArrayName="featuredAdditionalVideos">
                  <label for="featuredAdditionalVideos" class="control-label">Additional Videos</label>
  
                  <div *ngFor="let su of blogForm.get('featuredAdditionalVideos').controls; let i=index" [formGroupName]="i"  class="input-group attach_link mb-2" >
                      <div class="input-group-prepend">
                        <span id="featuredAdditionalVideos" class="input-group-text"  class="md-addon">https://</span>
                      </div>
                      <input type="text" class="form-control input-color append" 
                      formControlName="featuredAdditionalVideos" placeholder= "Enter the screenshot URL "  id="inlineFormInputGroupMD" >
                      <div class="input-group-append">
                      <span class="input-group-text">
                        <button *ngIf="this.blogForm.get('featuredAdditionalVideos').controls[i]  && this.blogForm.get('featuredAdditionalVideos').controls[i].controls.name.value != ''" class="preview bg" (click)="previewVideoUrl()">Preview</button>
                        <button *ngIf="this.blogForm.get('featuredAdditionalVideos').controls[i]  && this.blogForm.get('featuredAdditionalVideos').controls[i].controls.name.value != ''"  class="trash bg" (click)="removeScreenshotURL(i)"><img class="trash-icon" src="../../../assets/scalableVectorGraphics/trash_icon_grey.svg"></button>
                      </span>
                    </div>
                  </div>             
              </div>  -->


    <div class="text-right">
      <button mdbBtn class="custom-btn-blue btn" (click)="createblog()">ADD</button>
    </div>

  </form>
</div>

<!-- 
<div mdbModal id="previewVideoURLModal" #previewVideoURLModal="mdbModal" class="modal fade " tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fluid xmodal-dialog-centered text-center" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="previewVideoURLModal.hide()">
          <img src="../../../assets/scalable-vector-graphics/cross_icon_white.svg" height="24.55px" width="24.55px">
        </button>
        <h4 class=" w-100" id="myModalLabel" style="color:transparent">a</h4>
      </div>
      <div class="modal-body">
        <iframe width="949" height="465" [src]="this.trustedVideoURL != null ? this.trustedVideoURL: ''">
        </iframe>
      </div>
    </div>
  </div>
</div> -->