.add-blog{
    padding-bottom:50px;
      padding-top:50px;
      background-color: white;
}
.post-body{
  font-size: 1rem;
  letter-spacing: 1px;
}
// .content{
//     margin-top:100px;

//   }

//   .center-image{
//   width:176px;
//   height:auto;
//   vertical-align:middle;
// }

// .flexbox1 {
//     flex: 0 1 auto;
// }

// .flexbox2 {
//     flex: 1;
//     align-self: flex-end;
// }

// .frame {
//     width: 176px !important;
//     height: 176px !important;
//     vertical-align: middle;
//     text-align: center;
//     display: table-cell;
//       background-color: #f7f7f7 !important;
// }

//   input[type="file"] {
//     display: none;
//   }
//   .custom-btn {
//     // margin-top:50px;
//     border: 1px solid #268586 !important;
//     background-color: white;
//     color: #757575;
//     font-size: 0.9rem;
//     border-radius: 5px;
//     text-align: center;
//     width: 160px;
//     letter-spacing: 1px;
//       padding: 10px;
//   }
//   // .custom-file-upload, .custom-btn {
//   //   border: 1px solid #1C3764;
//   //   display: inline-block;
//   //   padding: 10px;
//   //   cursor: pointer;
//   //   font-size: 12px;
//   //   border-radius: 20px;
//   //   width:189px;
//   //   text-align: center;
//   //   margin-top: 50px;
//   // }
//   .title{
//     color:#357ba0;
//     font-weight: 800;
//     color:#116bb5;
//   }

//   .banner{
//     font-family: 'Open Sans',
//     sans-serif;padding-top:35px;
//     padding-bottom:35px;
//   }
//   .custom-file-uploader {
//     cursor: pointer;
//     border: 1px solid #268586 !important;
//     background-color: white;
//     color: #757575;
//     font-size: 0.9rem;
//     border-radius: 5px;
//     text-align: center;
//     width: 160px;
//     letter-spacing: 1px;
//       padding: 10px;
//   }
//   .input-group > .form-control, .input-group > .form-control-plaintext, .input-group > .custom-select, .input-group > .custom-file {
//     color:#212121 !important;
//     font-size:16px !important;
//     font-weight: 500 !important;
//   }
//   .attach_link.input-group-prepend {
//     background-color: red !important;
//     border-radius: 0px !important;
//   }
//   .input-group-prepend {
//     margin-right: 0px !important;
// }
// .input-group-append .input-group-text {
//   color: #757575 !important;
//   font-family:'Quicksand', sans-serif !important;
//   font-size:16px !important;
//   font-weight: 500 !important;
//   border-top-right-radius: 0 !important;
//   border-bottom-right-radius: 0 !important;
//   background-color: white;
// }
// .input-group-prepend .input-group-text {
//   color: #757575 !important;
//   font-family:'Quicksand', sans-serif !important;
//   font-size:16px !important;
//   font-weight: 500 !important;
//   border-top-right-radius: 0 !important;
//   border-bottom-right-radius: 0 !important;
//   background-color: #f7f7f7 !important;
//   // border:1px 0px 0px 0px !important;
// }
// .input-color{
//   color: #3560BB !important;
// }
// .append  {
//   border-right :0px;
// }
// .input-group-append .input-group-text {
//   color: #757575 !important;
//   font-family:'Quicksand', sans-serif !important;
//   font-size:16px !important;
//   font-weight: 500 !important;
//   border-top-right-radius: 0 !important;
//   border-bottom-right-radius: 0 !important;
//   background-color: white;
// }
// .input-group-prepend .input-group-text {
//   color: #757575 !important;
//   font-family:'Quicksand', sans-serif !important;
//   font-size:16px !important;
//   font-weight: 500 !important;
//   border-top-right-radius: 0 !important;
//   border-bottom-right-radius: 0 !important;
//   background-color: #f7f7f7 !important;
//   // border:1px 0px 0px 0px !important;
// }

// .btn_white_dashed{
//   background-color: white;
//   border:0.8px dashed #E1E1E1;
//   color:#66A19C;
//   font-weight: 600;
//   font-size: 14px;
//   height: 48px;
//   width: 100%;
// }

// ::placeholder {
//   color: #bbbbbb !important;
//   font-family: "Open Sans", sans-serif !important;
//   font-size: 0.9rem !important;
// }
// .btn-primary {
//   background-color: #34495e !important;
//   color: #fff;
//   margin-top:35px;
// }
.blog-details {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  img {
    width: 100%;
  }
}
