
.content{
    margin-top:100px;
  
  }
  input[type="file"] {
    display: none;
  }
  .custom-file-upload, .custom-btn {
    border: 1px solid #1C3764;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 20px;
    width:189px;
    text-align: center;
  }
  .input-group > .form-control, .input-group > .form-control-plaintext, .input-group > .custom-select, .input-group > .custom-file {
    color:#212121 !important;
    font-size:16px !important;
    font-weight: 500 !important;
  }
  .attach_link.input-group-prepend {
    background-color: red !important;
    border-radius: 0px !important;
  }
  .input-group-prepend {
    margin-right: 0px !important;
}
.input-group-append .input-group-text {
  color: #757575 !important;
  font-family:'Quicksand', sans-serif !important;
  font-size:16px !important;
  font-weight: 500 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  background-color: white;
}
.input-group-prepend .input-group-text {
  color: #757575 !important;
  font-family:'Quicksand', sans-serif !important;
  font-size:16px !important;
  font-weight: 500 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  background-color: #f7f7f7 !important;
  // border:1px 0px 0px 0px !important;
}
.input-color{
  color: #3560BB !important;
}
.append  {
  border-right :0px;
}
.input-group-append .input-group-text {
  color: #757575 !important;
  font-family:'Quicksand', sans-serif !important;
  font-size:16px !important;
  font-weight: 500 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  background-color: white;
}
.input-group-prepend .input-group-text {
  color: #757575 !important;
  font-family:'Quicksand', sans-serif !important;
  font-size:16px !important;
  font-weight: 500 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  background-color: #f7f7f7 !important;
  // border:1px 0px 0px 0px !important;
}
.trash{
  background-color: none;
  border:none;
  margin-top:-5px;
}
.btn_white_dashed{
  background-color: white;
  border:0.8px dashed #E1E1E1;
  color:#66A19C;
  font-weight: 600;
  font-size: 14px;
  height: 48px;
  width: 100%;
}

::placeholder {
  color: #bbbbbb !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 0.9rem !important;
}
.btn-primary {
  background-color: #34495e !important;
  color: #fff;
  margin-top:35px;
}