<div>
 <agm-map
[latitude]="lat"
[longitude]="lng"
[zoom]="zoom"
[mapTypeId]="'hybrid'"
[disableDefaultUI]="false"
[zoomControl]="true"
[fitBounds]="true"
(mapClick)="mapClicked($event)">
<agm-marker-cluster  minimumClusterSize= "100"
imagePath="../../assets/jpg/umeed_mistry.jpg">
<agm-marker [agmFitBounds]="true" *ngFor="let m of markers; let i = index"
(markerClick)="clickedMarker(m.location, i)"
[latitude]="m.latitude"
[iconUrl]='{"url": iconUrl,"scaledSize": {"height": 35, "width": 35}}'
[longitude]="m.longitude"
[markerDraggable]="m.draggable" >

<agm-info-window>
  <mdb-tabset [buttonClass]="'nav md-pills pills-primary'" [contentClass]="'card'">
    <mdb-tab heading="Images">
      <div class="row">
        <div class="col-12">
          <label class="mb-0">LOCATION</label>
          <strong>{{m.location}}</strong> <br/>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div *ngFor="let img of m.flora" style="display:inline-block; text-align:center">
            <img [src]="img.imageURL" height="150px" width="150px" class="ml-2">
          </div>
        </div>
      </div>
    </mdb-tab>
  </mdb-tabset>
</agm-info-window>
</agm-marker>
</agm-marker-cluster>
<agm-circle [latitude]="lat + 0.3" [longitude]="lng"
[radius]="5000"
[fillColor]="'red'"
[circleDraggable]="true"
[editable]="true">
</agm-circle>
</agm-map>
</div>
