/* You can add global styles to this file, and also import other style files */
@import '~ng-uikit-pro-standard/assets/scss/core/colors';
@import '~ng-uikit-pro-standard/assets/scss/core/variables';
@import '~ng-uikit-pro-standard/assets/scss/core/variables-pro';
@import '~ng-uikit-pro-standard/assets/scss/bootstrap/functions';
@import '~ng-uikit-pro-standard/assets/scss/bootstrap/variables';
@import '~ng-uikit-pro-standard/assets/scss/core/mixins';


.maps-view{
  background-color:#ecf4f4;
  // box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  padding-bottom:100px;
  padding-top:50px;
  // border:3px dashed #B3BDBB;
}
.banner{
  font-family: 'Open Sans', sans-serif;
  padding-top:50px;
  padding-bottom:60px;
}
.maps-options{
  display:flex;
  justify-content:center;
}
.btn-custom-blue{
  background-color: #34495e;
  color:white;
  cursor: pointer;
}
.btn-custom-green{
  background-color: #34495e;
  color:yellowgreen;
  cursor: pointer;
}
@include media-breakpoint-down(sm) {
  .maps-options{
    display:grid;
  }
}
