.banner{
  background:url(../../../assets/jpg/banner/bg_waves2.webp) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  padding-top:35px;
  padding-bottom:35px;
}
.btn-custom-blue{
  background-color: #34495e;
  color:white;
  cursor: pointer;
}
.btn-custom-green{
  background-color: #34495e;
  color:yellowgreen;
  cursor: pointer;
}
