<div class="toolbar">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light white" [containerInside]="false">
    <mdb-navbar-brand>
      <a class="navbar-brand" href="#"><img alt="logo" class="logo" [routerLink]="'/home'" src="../../assets/logos/orol_logo.svg"></a>
    </mdb-navbar-brand>

    <links class="text-center">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a [routerLink]="'/home'" class="nav-link waves-light heading" mdbWavesEffect><span [routerLinkActive]="['router-link-active']" class="heading">Home</span><span class="sr-only">(current)</span></a>
        </li>
        <div class="divider dropdown-divider"></div>
        <li class="nav-item">
          <a [routerLink]="'/about'" class="nav-link waves-light heading" mdbWavesEffect><span [routerLinkActive]="['router-link-active']" class="heading">About</span></a>
        </li>
        <div class="divider dropdown-divider"></div>
        <li class="nav-item dropdown d-none d-lg-block" dropdown>
          <a [ngClass]="{'router-link-active': this.router.url == '/flood-watch' || this.router.url == '/river-monitoring' || this.router.url == '/flora-fauna' || this.router.url == '/voices-from-the-river'}" dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light heading" mdbWavesEffect>
            Get Involved<span class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown" role="menu">
              <a *ngIf="this.user" [routerLink]="'/river-monitoring'" class="dropdown-item" mdbWavesEffect href="#"><mdb-icon fas icon="water" [routerLinkActive]="['router-link-active']"></mdb-icon><span [routerLinkActive]="['router-link-active']" class="heading ml-2">River Monitoring</span></a>
              <div *ngIf="this.user" class="divider dropdown-divider"></div>
              <a [routerLink]="'/flood-watch'" class="dropdown-item" mdbWavesEffect href="#"><mdb-icon fas icon="binoculars"></mdb-icon><span [routerLinkActive]="['router-link-active']" class="heading ml-2">Flood Watch</span></a>
              <div class="divider dropdown-divider"></div>
              <a [routerLink]="'/flora-fauna'" class="dropdown-item" mdbWavesEffect href="#"><mdb-icon fab icon="pagelines"></mdb-icon><mdb-icon fas icon="frog"></mdb-icon><span [routerLinkActive]="['router-link-active']" class="heading ml-2">Flora & Fauna</span></a>
              <!-- <div class="divider dropdown-divider"></div>
              <a [routerLink]="'/voices-from-the-river'" class="dropdown-item" mdbWavesEffect href="#"><mdb-icon fas icon="fish" style="margin-top:-25px"></mdb-icon><mdb-icon far icon="comments"></mdb-icon><span [routerLinkActive]="['router-link-active']" class="heading ml-2">Voices from the River</span></a> -->
            </div>
          </li>
          <li class="nav-item dropdown d-lg-none" dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light heading" mdbWavesEffect>
              Get Involved<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown" role="menu" style="position:relative !important">
                <a *ngIf="this.user" [routerLink]="'/river-monitoring'" class="dropdown-item" mdbWavesEffect href="#"><mdb-icon fas icon="water"></mdb-icon><span [routerLinkActive]="['router-link-active']" class="heading ml-2">River Monitoring</span></a>
                <div *ngIf="this.user" class="divider dropdown-divider"></div>
                <a [routerLink]="'/flood-watch'" class="dropdown-item" mdbWavesEffect href="#"><mdb-icon fas icon="binoculars"></mdb-icon><span [routerLinkActive]="['router-link-active']" class="heading ml-2">Flood Watch</span></a>
                <div class="divider dropdown-divider"></div>
                <a [routerLink]="'/flora-fauna'" class="dropdown-item" mdbWavesEffect href="#"><mdb-icon fab icon="pagelines"></mdb-icon><mdb-icon fas icon="frog"></mdb-icon><span [routerLinkActive]="['router-link-active']" class="heading ml-2">Flora & Fauna</span></a>
                <!-- <div class="divider dropdown-divider"></div>
                <a [routerLink]="'/voices-from-the-river'" class="dropdown-item" mdbWavesEffect href="#"><mdb-icon fas icon="fish"></mdb-icon><mdb-icon far icon="comments"></mdb-icon><span [routerLinkActive]="['router-link-active']" class="heading ml-2">Voices from the River</span></a> -->
              </div>
            </li>
            <div class="divider dropdown-divider"></div>
            <li class="nav-item">
              <a [routerLink]="'/resources'"class="nav-link waves-light heading" mdbWavesEffect><span [routerLinkActive]="['router-link-active']" class="heading">Resources</span></a>
            </li>
            <div class="divider dropdown-divider"></div>
            <li class="nav-item">
              <a [routerLink]="'/ongoing-campaigns'" class="nav-link waves-light heading" mdbWavesEffect><span [routerLinkActive]="['router-link-active']" class="heading">Ongoing Campaigns</span></a>
            </li>
            <div class="divider dropdown-divider"></div>
            <li class="nav-item" *ngIf="this.name == ''">
              <a (click)="this.isLogin = true" class="nav-link waves-light heading" mdbWavesEffect><span [ngClass]="{'router-link-active': isLogin == true}" [routerLinkActive]="['router-link-active']" class="heading">Login</span></a>
            </li>
            <!-- <div class="divider dropdown-divider" *ngIf="this.name == ''"></div> -->

            <li class="nav-item avatar dropdown  d-none d-lg-block" dropdown *ngIf="this.name != ''">
              <a  dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light heading" mdbWavesEffect>
                <img [src]="avatarURL" alt="" class="img-fluid rounded-circle z-depth-0" style="vertical-align:middle">
                <span class="ml-2" style="vertical-align:middle">{{name}}</span><span class="caret"></span>
              </a>
              <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown xdropdown-custom" role="menu">
                <a [routerLink]="'/my-account'" class="dropdown-item" mdbWavesEffect href="#">
                  <!-- <mdb-icon fas icon="user-alt"></mdb-icon> -->
                  <img [src]="avatarURL" alt="" class="img-fluid rounded-circle z-depth-0" height="20px" width="20px" style="vertical-align:middle">
                  <span [routerLinkActive]="['router-link-active']" class="heading ml-2">My Account</span></a>
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item" mdbWavesEffect href="#" (click)="logout()"><mdb-icon fas icon="sign-out-alt"></mdb-icon><span  [routerLinkActive]="['router-link-active']" class="heading ml-2">Logout</span></a>
              </div>
            </li>
            <li class="nav-item avatar dropdown d-lg-none" dropdown *ngIf="this.name != ''">
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light heading" mdbWavesEffect>
                <img [src]="avatarURL" alt="" class="img-fluid rounded-circle z-depth-0" style="vertical-align:middle">
                <span class="ml-2" style="vertical-align:middle">{{name}}</span><span class="caret"></span>
              </a>
              <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown xdropdown-custom" role="menu" style="position:relative !important">
                <a [routerLink]="'/my-account'" class="dropdown-item" mdbWavesEffect href="#"><img [src]="avatarURL" alt="" class="img-fluid rounded-circle z-depth-0" height="20px" width="20px" style="vertical-align:middle"><span [routerLinkActive]="['router-link-active']" class="heading ml-2">My Account</span></a>
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item" mdbWavesEffect href="#" (click)="logout()"><mdb-icon fas icon="sign-out-alt"></mdb-icon><span [routerLinkActive]="['router-link-active']" class="heading ml-2">Logout</span></a>
              </div>
            </li>
            <div class="divider dropdown-divider"></div>
          </ul>
        </links>
      </mdb-navbar>

      <div *ngIf="isLogin == true">
        <app-sign-in (userName)="setUserName($event)" (password)="setPassword($event)" (phoneNumber)="setPhoneNumber($event)"
        (isVerifyOTP)="setisVerifyOTP($event)" (isLogin)="setIsLogin($event)" (isRegister)='setIsRegister($event)'
        (isRecoverPassword)='setIsRecoverPassword($event)'></app-sign-in>
      </div>
      <div *ngIf="isRegister == true">
        <app-sign-up (isLogin)="setIsLogin($event)" (isRegister)='setIsRegister($event)'></app-sign-up>
      </div>
      <div *ngIf="isRecoverPassword == true">
        <app-forgot-password (isLogin)="setIsLogin($event)" (isRecoverPassword)='setIsRecoverPassword($event)'>
        </app-forgot-password>
      </div>
      <div *ngIf="isVerifyOTP == true">
        <app-verify-otp [userName]="this.userName" (isVerifyOTP)="setisVerifyOTP($event)" (isLogin)="setIsLogin($event)">
        </app-verify-otp>
      </div>
    </div>
