.navbar{
  position: fixed !important;
  // width:100%;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   z-index: 998;
  background-image: url(../../../assets/scalable-vector-graphics/banner_header2.svg);
   background-repeat: no-repeat;
  background-position: right;
}



.mat-toolbar{
  height:150px;
  background-color: white;
  font-size: 0.9rem;
  background-image: url(../../../assets/scalable-vector-graphics/banner_header2.svg);
   background-repeat: no-repeat;
  background-position: right;
}
.logo{
  cursor: pointer;
  width: 150px;
  // height: 46px;
  margin-left: 80px;
  margin-top: 20.5px;
  margin-bottom: 20.5px;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
  text-align: right;
}

.heading{
  cursor:pointer !important;
  font-size:13px !important;
  font-family: 'Montserrat' !important;
  color: gray;
  font-weight: 500;
  padding: 20px;
  text-transform: capitalize !important;
}
.router-link-active{
   color:#303030;
  font-weight:bold;
}
// .parallax-custom{
//   background-image: url('../../../assets/jpg/parallax_3.jpg');
//   background-attachment: fixed;
//   height: 1200px;
// }
