<!-- <mat-toolbar style="position: fixed; width:100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;">
  <div class="col-md-4">
  <img alt="logo" class="logo"  [routerLink] = "'/home'" src="../../assets/scalable-vector-graphics/orol-logo.svg">
</div>
<div class="example-fill-remaining-space" >
  <span class="heading" [routerLink] = "'/home'" routerLinkActive="router-link-active">Home</span>
  <span class="heading" [routerLink] = "'/about'" routerLinkActive="router-link-active">About</span>
  <span class="heading" [routerLink] = "'/river-monitoring'">River Monitoring</span>
  <span class="heading" [routerLink] = "'/flood-watch'">Flood Watch</span>
  <span class="heading" [routerLink] = "'/flora-fauna'" routerLinkActive="router-link-active">Flora & Fauna</span>

  <span class="heading" [routerLink] = "'/voices-from-the-river'">Voices from the River</span>
  <span class="heading" [routerLink] = "'/resources'">Resources</span>
  <span class="heading" [routerLink] = "'/ongoing-campaigns'">Ongoing Campaigns</span>
  <span class="heading" [routerLink] = "'/research'" routerLinkActive="router-link-active">RESEARCH PAPERS</span>
  <span class="heading" [routerLink] = "'/privacy-policy'" routerLinkActive="router-link-active">PRIVACY POLICY</span>
</div>

</mat-toolbar> -->

<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light white" [containerInside]="false">
  <mdb-navbar-brand><a class="navbar-brand" href="#"><img alt="logo" class="logo"  [routerLink] = "'/home'" src="../../assets/scalable-vector-graphics/orol-logo.svg"></a></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto menu-dd">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect><span class="heading" [routerLink] = "'/home'" routerLinkActive="router-link-active">Home</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect><span class="heading" [routerLink] = "'/about'" routerLinkActive="router-link-active">About</span></a>
      </li>

      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <span class="heading">Get Involved</span><span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect><span class="heading" [routerLink] = "'/river-monitoring'" routerLinkActive="router-link-active">River Monitoring</span></a>
          <a class="dropdown-item waves-light" mdbWavesEffect ><span class="heading" [routerLink] = "'/flood-watch'" routerLinkActive="router-link-active">Flood Watch</span></a>
          <a class="dropdown-item waves-light" mdbWavesEffect><span class="heading" [routerLink] = "'/flora-fauna'" routerLinkActive="router-link-active">Flora & Fauna</span></a>
          <a class="dropdown-item waves-light" mdbWavesEffect ><span class="heading" [routerLink] = "'/voices-from-the-river'" routerLinkActive="router-link-active">Voices from the River</span></a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect><span class="heading" [routerLink] = "'/resources'">Resources</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect><span class="heading" [routerLink] = "'/ongoing-campaigns'">Ongoing Campaigns</span></a>
      </li>
    </ul>
  </links>
</mdb-navbar>
