<mat-toolbar style="position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;">
  <img alt="logo" class="logo"  [routerLink] = "'/home'" src="../../assets/scalable-vector-graphics/orol-logo.svg">

<div class="example-fill-remaining-space" >
  <span class="heading" [routerLink] = "'/home'" routerLinkActive="router-link-active">HOME</span>
  <span class="heading" [routerLink] = "'/about'" routerLinkActive="router-link-active">ABOUT</span>
  <span class="heading" [routerLink] = "">RIVER MONITORING</span>
  <span class="heading" [routerLink] = "'/flora-fauna'" routerLinkActive="router-link-active">FLORA & FAUNA</span>
  <span class="heading" [routerLink] = "'/flood-watch'">FLOOD WATCH</span>
  <span class="heading" [routerLink] = "">VOICES FROM THE RIVER</span>
  <span class="heading" [routerLink] = "">RESOURCES</span>
  <!-- <span class="heading" [routerLink] = "'/research'" routerLinkActive="router-link-active">RESEARCH PAPERS</span> -->
  <span class="heading" [routerLink] = "'/privacy-policy'" routerLinkActive="router-link-active">PRIVACY POLICY</span>
</div>

</mat-toolbar>
