<div class="ongoing-campaigns" style="background:url(../../../assets/jpg/banner/bg_waves2.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transform: translate3d(0,0,0);
  background-attachment: scroll;">
  <!-- <app-banner-waves></app-banner-waves> -->
  <div class="campaigns" *ngFor="let campaign of campaigns_list; let i=index">
    <p class="campaign-title">{{campaign.name}}</p>
    <div class="campaign-url" *ngFor="let c of campaign.campaigns">
      <a class="col-12" [href]="c.url" target="_blank">{{c.url}}</a>
    </div>
    <div>
      <div class="videos row" style="margin-right:0px;margin-left:0px;">
        <div class="vid-container col-10" >
          <iframe id="vid_frame" [src]="campaign.defaultVideo" frameborder="0" title="video"></iframe>
        </div>

        <div class="col-2 videos-list">
          <ul #widgetsContent>
            <li *ngFor="let v of campaign.videos">
              <div class="vid-item" (click)="bla(i, v.url);">
              <div class="thumb">
                <img alt="name" [src]="v.thumb">
              </div>
              <div class="video-description">
                {{v.name}}
              </div>
            </div>
          </li>
        </ul>
      </div>

  </div>

  </div>
  </div>
</div>
