/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*:focus {
  outline-width: 0px !important;
}
.card {
    box-shadow:0px !important;
  }
// mdb-card{
//   height:650px;
// }
// mdb-card-img img {
//   // width: auto !important;
//   height: -webkit-fill-available !important;
// }
.carousel-multi-item .controls-top .btn-floating {
    background: black !important;
    opacity:0.4 !important;
}

.carousel-multi-item .carousel-indicators li {
    height: 1.25rem;
    width: 1.25rem;
    max-width: 1.25rem;
    background-color: black !important;
    margin-bottom: -3.75rem;
}
.btn-floating i {
  color:gray !important;
}
