/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: 'Open Sans', sans-serif; }


*:focus {
  outline-width: 0px !important;
}
.card {
  box-shadow:0px !important;
}

#mytp {
  .md-form{
    position: relative !important;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
  }
  .timepicker{
    font-size:14px !important;
    font-weight: 500 !important;
    font-family: 'Montserrat' !important;
      color:  #000000 !important;
   }
}
#mydp {
  .md-form{
    position: relative !important;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
  }
  .mydp-date{
    font-size:14px !important;
    font-weight: 500 !important;
    font-family: 'Montserrat' !important;
      color:  #000000 !important;
   }
}
.picker {
  position: relative !important;
}
.carousel-multi-item .controls-top .btn-floating {
  background: black !important;
  opacity:0.4 !important;
}

.carousel-multi-item .carousel-indicators li {
  height: 1.25rem;
  width: 1.25rem;
  max-width: 1.25rem;
  background-color: black !important;
  margin-bottom: -3.75rem;
}
.btn-floating i {
  // color:gray !important;
}

.classic-tabs .nav li:first-child {
  margin-left: 40% !important;
}

#searchUser{
  .mat-form-field-outline{
    width: 440px !important;
    height: 54px !important;
    opacity: none !important;
    margin-left: -15px !important;
  }
  .mat-form-field-outline-thick{
    color: #E1E1E1  !important;
  }
  .cdk-overlay-pane{
    width: 440px !important;
  }

  .mat-input-element {
    margin-top: 17px !important;
    margin-right: -24px !important;
    font-weight: 500 !important;
    font-family: 'Quicksand' !important;
  }

  .mat-form-field-underline {
    height: 0px !important;
  }
  .mat-autocomplete-panel{
    overflow: hidden !important;
  }
}
#cdk-overlay-1.cdk-overlay-pane{
  width: 440px !important;
}

#cdk-overlay-0{
  top: 154px !important;
  left: 11px !important;
  margin-left: 31% !important;
  margin-top: 10px !important;
  position: absolute;
  border: 1px solid black;
}
mdb-card-img img {
  width: auto !important;
  max-height: 636px !important;
}

.accordion{
  display: flex !important;
  flex-wrap: wrap !important;
  margin-right: 15px !important;
  margin-left: 15px !important;
}
.mdb-accordion-indicator {
  visibility: hidden !important;
}

.md-accordion .card {
  border-bottom: none !important;
}
.card {
  background-color: transparent !important;
  box-shadow: none !important;
  margin-bottom:0px !important;
  padding-bottom:0px !important;
}
.md-accordion .card .card-body {
  font-size: 1rem !important;
  font-weight: 300 !important;
  color: #303030 !important; //626262
  text-align: justify !important;

}
.mdb-accordion-indicator {
  position: absolute;
  right: 0;
  -webkit-transform-origin: 50% 65%;
  transform-origin: 50% 65%;
  margin-right: 24px;
  top: none !important;
}
.navbar{
  position: fixed !important;
  background-color: white;
  width:100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
  background-image: url(assets/scalable-vector-graphics/banner_header2.svg) !important;
  background-repeat: no-repeat !important;
  background-position: right !important;
}
.loader {
    // display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
     background:url('./assets/scalable-vector-graphics/spinner_coco.svg') no-repeat #FFFFFFE6 50%;
    -moz-background-size:64px 64px;
    -o-background-size:64px 64px;
    -webkit-background-size:64px 64px;
    background-size:64px 64px;
    z-index: 2999999999;
    width:100%;
    height:100%;
}
#gallery-sm.carousel .carousel-control-next-icon {
   visibility: hidden !important;
}
#gallery-sm.carousel .carousel-control-prev-icon {
  visibility: hidden !important;
}
.agm-map-container-inner{
  margin-top:-8px !important;
}

#maps-flood-watch .agm-map-container-inner{
  margin-top:0px !important;
}
 // agm info window

.gm-style .gm-style-iw {

  width: 100%;
  max-width: 284px !important;
}

@media only screen and (max-width: 767px) {
  .gm-style .gm-style-iw {

      width: 100%;
      max-width: 284px !important;
  }
}
