/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: 'Open Sans', sans-serif; }


*:focus {
  outline-width: 0px !important;
}
.card {
    box-shadow:0px !important;
  }
  
  
  

.carousel-multi-item .controls-top .btn-floating {
    background: black !important;
    opacity:0.4 !important;
}

.carousel-multi-item .carousel-indicators li {
    height: 1.25rem;
    width: 1.25rem;
    max-width: 1.25rem;
    background-color: black !important;
    margin-bottom: -3.75rem;
}
.btn-floating i {
  // color:gray !important;
}

.classic-tabs .nav li:first-child {
  margin-left: 40% !important;
}

#searchUser{
  .mat-form-field-outline{
    width: 440px !important;
    height: 54px !important;
    opacity: none !important;
    margin-left: -15px !important;
}
.mat-form-field-outline-thick{
  color: #E1E1E1  !important;
}
.cdk-overlay-pane{
  width: 440px !important;
}

.mat-input-element {
  margin-top: 17px !important;
  margin-right: -24px !important;
  font-weight: 500 !important;
  font-family: 'Quicksand' !important;
}

 .mat-form-field-underline {
  height: 0px !important;
}
.mat-autocomplete-panel{
  overflow: hidden !important;
}
}
#cdk-overlay-1.cdk-overlay-pane{
  width: 440px !important;
}

#cdk-overlay-0{
   top: 154px !important;
  left: 11px !important;
  margin-left: 31% !important;
  margin-top: 10px !important;
  position: absolute;
  border: 1px solid black;
}
mdb-card-img img {
  width: auto !important;
  max-height: 636px !important;
}

.accordion{
  display: flex !important;
    flex-wrap: wrap !important;
     margin-right: 15px !important;
     margin-left: 15px !important;
}
.mdb-accordion-indicator {
  // visibility: hidden !important;
}


.md-accordion .card {
  border-bottom: none !important;
}
.card {
  background-color: transparent !important;
}
.md-accordion .card .card-body {
    font-size: 1rem !important;
    font-weight: 300 !important;
    color: #303030 !important; //626262
    text-align: justify !important;

}
.mdb-accordion-indicator {
    position: absolute;
    right: 0;
    -webkit-transform-origin: 50% 65%;
    transform-origin: 50% 65%;
     margin-right: 24px;
      top: none !important;
}
