<div>
 <agm-map
[latitude]="lat"
[longitude]="lng"
[zoom]="zoom"
[mapTypeId]="'hybrid'"
[disableDefaultUI]="false"
[zoomControl]="true"
[fitBounds]="true"
(mapClick)="mapClicked($event)">
<agm-marker-cluster  minimumClusterSize= "100"
imagePath="../../assets/jpg/umeed_mistry.jpg">
<agm-marker [agmFitBounds]="true" *ngFor="let m of markers; let i = index"
(markerClick)="clickedMarker(m.label, i, m.certificateURL)"
[latitude]="m.latitude"
[iconUrl]='{"url": iconUrl,"scaledSize": {"height": 35, "width": 35}}'
[longitude]="m.longitude"
<!-- xlabel="m.label" -->
[markerDraggable]="m.draggable" >

<!-- <agm-info-window>
  <mdb-tabset [buttonClass]="'pills-primary white mb-2'" [contentClass]="'card'">
    <mdb-tab heading="Info">
      <div class="row">
        <div class="col-12">
          <label>Location :</label>
          <strong>{{m.location}}</strong> <br/>
          <label>Time :</label>
          <strong> {{m.activityTime}}</strong> <br/>
          <label>Date :</label>
          <strong> {{m.activityDate}}</strong> <br/>
          <label>Experience :</label>
          <strong> {{m.experience}}</strong> <br/>
        </div>
      </div>
    </mdb-tab>
    <mdb-tab heading="Images">
      <div class="row">
        <div class="col-12">
          <div style="display:inline-block; text-align:center">
            <a href="https://our-river-our-life-images.s3.ap-south-1.amazonaws.com/certificate/certificate_5f2806d31dbb0700178e94bf" target="_blank">asdasd</a>
          </div>
        </div>
      </div>
    </mdb-tab>
  </mdb-tabset>
</agm-info-window> -->
</agm-marker>
</agm-marker-cluster>
<agm-circle [latitude]="lat + 0.3" [longitude]="lng"
[radius]="5000"
[fillColor]="'red'"
[circleDraggable]="true"
[editable]="true">
</agm-circle>
</agm-map>
</div>
