<div>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeId]="'hybrid'" [disableDefaultUI]="false"
        [zoomControl]="true" [fitBounds]="true" (mapClick)="mapClicked($event)">
        <agm-marker-cluster
            imagePath="https://raw.githubusercontent.com/googlearchive/js-marker-clusterer/gh-pages/images/m">
            <agm-marker [agmFitBounds]="true" *ngFor="let m of markers; let i = index"
                (markerClick)="clickedMarker(m.label, i, m.certificateURL)" [latitude]="m.latitude"
                [iconUrl]='{"url": iconUrl,"scaledSize": {"height": 35, "width": 35}}' [longitude]="m.longitude"
                xlabel="m.label" [markerDraggable]="m.draggable">
            </agm-marker>
        </agm-marker-cluster>
        <agm-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="5000" [fillColor]="'red'"
            [circleDraggable]="true" [editable]="true">
        </agm-circle>
    </agm-map>
</div>
