<div class="profile ">
  <mdb-tabset id="flora_fauna_tabs" [buttonClass]="'classic-tabs tabs-transparent custom-tabs'" class="classic-tabs">
    <mdb-tab heading="Edit Profile">
      <div class="py-3 px-md-5" class="bg-white" style="margin-left:-15px;margin-right:-15px;padding:35px">
        <form class="form form-horizontal text-left col-lg-8 col-xs-12" [formGroup]="profileForm">
          <div class="form-group">
            <label for="name" class="control-label">PROFILE IMAGE <span class="star">*</span></label>
            <div class="d-flex">
              <div class="flexbox1" style="height:150px; width:150px; line-height:54px;">
                <div class="frame">
                  <img [src]=imgResultAfterCompress class="img-list" max-height="150px" width="150px"
                    style="border-radius:50%">
                </div>
              </div>
              <div class="flexbox2 ml-4">
                <div class="flex">
                  <button type="button" class="custom-btn-orol" (click)="compressFile()">CHANGE IMAGE</button>
                  <button class="trash bg ml-2" (click)="deleteImage()"><img src="../../assets/icons/trash_icon_grey.svg"></button>

                </div>
                <div class="mt-2">
                  <span class="notes mt-2">{{note}}</span><br>
                  <span class="notes2 mt-2">{{info}}</span><br>
                </div>
                <div  class="image-error-message mt-1">
                  <p *ngIf="imageFile == null && this.submitted == true" class="errorMessage"><img class="img-add" src="../../../assets/icons/exclamation_icon.svg"> This
                    image is required.</p>
                    <p *ngIf="isLargeImageFile ==true" class="errorMessage"><img class="img-add" src="../../../assets/icons/exclamation_icon.svg"> Please ensure the file size is less than 100KB</p>
                    <p *ngIf="isInvalidImageFile ==true" class="errorMessage"><img class="img-add" src="../../../assets/icons/exclamation_icon.svg"> Please ensure the file type is a .jpeg, .jpg or .png</p>

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-6 col-md-6 mt-2">
              <label for="name" class="control-label">FIRST NAME <span class="star">*</span></label>
              <div class="input-group">
                <input type="text" class="form-control" id="name" formControlName="firstName" placeholder="First name"
                  XngClass="{'red-border-class': productForm.get('name').errors?.required && this.submitted == true || productForm.get('name').errors?.maxlength || productForm.get('name').errors?.pattern}">
              </div>
              <div class="mt-1 error-message-div">
                <p *ngIf="profileForm.get('firstName').errors?.required  && this.submitted==true" class="errorMessage">
                  <img class="img-add" src="../../../assets/icons/exclamation_icon.svg">
                  This field is required.
                </p>
                <p *ngIf="profileForm.get('firstName').errors?.maxlength" class="errorMessage">
                  <img class="img-add" src="../../../assets/icons/exclamation_icon.svg"> This field must not exceed 50
                  characters.
                </p>
              </div>
            </div>
            <div class="form-group col-xs-6 col-md-6 mt-2">
              <label for="name" class="control-label">LAST NAME</label>
              <div class="input-group">
                <input type="text" value='' class="form-control" id="name" formControlName="lastName"
                  placeholder="Last name"
                  XngClass="{'red-border-class': productForm.get('name').errors?.required && this.submitted == true || productForm.get('name').errors?.maxlength || productForm.get('name').errors?.pattern}">
              </div>
              <div class="mt-1 error-message-div">
                <p *ngIf="profileForm.get('lastName').errors?.maxlength" class="errorMessage">
                  <img class="img-add" src="../../../assets/icons/exclamation_icon.svg"> This field must not exceed 50
                  characters.
                </p>
              </div>
            </div>
          </div>
          <div class="row formGroup mt-1">
            <div class="col-md-12">
              <label for="mobileNumber" class="text-left">MOBILE NUMBER</label>
              <input type="number" class="form-control" class="form-control" placeholder="Mobile Number"
                [ngClass]="{ 'is-invalid': submitted && profileForm.get('phoneNumber').errors }"
                formControlName="phoneNumber" disabled>
              <div class="mt-1 error-message-div">
                <p *ngIf="profileForm.get('phoneNumber').errors?.required  && this.submitted==true"
                  class="errorMessage">
                  <img class="img-add" src="../../../assets/icons/exclamation_icon.svg"> This field is
                  required.
                </p>
              </div>
            </div>
          </div>

          <div class="row formGroup mt-2">
            <div class="col-md-12">
              <label for="email" class="text-left">EMAIL</label>
              <input mdbInput id="email" type="text" class="form-control" formControlName="email" disabled
                [ngClass]="{ 'is-invalid': submitted && profileForm.get('email').errors }" placeholder="Email">
              <div *ngIf="submitted && profileForm.get('email').errors" class="invalid-feedback">
                <div *ngIf="profileForm.get('email').errors.required"><img class="img-add" src="../../../assets/icons/exclamation_icon.svg">Email is required</div>
                <div *ngIf="profileForm.get('email').errors.email"><img class="img-add" src="../../../assets/icons/exclamation_icon.svg">Email must be a valid email address</div>
              </div>
            </div>
          </div>
          <div class="text-right">
            <button mdbBtn xsize="sm" class="custom-btn-orol" (click)="validate()">Save Profile</button>
          </div>
        </form>

      </div>

    </mdb-tab>
    <!-- <mdb-tab heading="Draft">

    </mdb-tab> -->

    <mdb-tab heading="Certification">
      <div class="xrow mt-2" style="min-height:450px; background-color:white;margin-left: -35px;margin-right: -35px;">
        <div class="text-center">
          <h3 class="stepper-heading text-left ml-5">Certificate URL</h3>

        </div>
        <div class="search-results" infiniteScroll [infiniteScrollDistance]='2' [infiniteScrollThrottle]='10'
          [scrollWindow]="false" (scrolled)="onScroll()">
          <div class="col-12 mt-4 text-left">
            <ul style="list-style-type:none" *ngFor="let report of reports">
              <li><a [href]="report.certificateURL" target="_blank">{{report.certificateURL}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </mdb-tab>

  </mdb-tabset>
</div>
